<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <display-name>PSP DIS Web Services</display-name>

    <servlet>
        <servlet-name>InitSpcfServlet</servlet-name>
        <servlet-class>com.intuit.sbd.payroll.psp.web.InitSpcfServlet</servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>

    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>

    <context-param>
        <param-name>contextInitializerClasses</param-name>
        <param-value>com.intuit.sbg.payroll.application.context.PayrollApplicationContextInitializer</param-value>
    </context-param>

    <context-param>
        <param-name>securityConfigPath</param-name>
        <param-value>resources/spring-security-config/dis-adapter.yml</param-value>
    </context-param>

    <servlet>
        <description>JAX-WS endpoint</description>
        <display-name>WSServlet</display-name>
        <servlet-name>WSServlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WSServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <!-- Log Enhancing Filter start-->
    <filter>
        <filter-name>LogEnhancingFilter</filter-name>
        <filter-class>com.intuit.sbg.psp.filter.LogEnhancingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogEnhancingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- end Log Enhancing Filter -->

    <filter>
		<filter-name>LMAFilter</filter-name>
		<filter-class>com.intuit.sbg.psp.filter.LastMileAuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LMAFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter>
        <filter-name>PayrollSpringSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PayrollSpringSecurityFilterChain</filter-name>
        <url-pattern>/services/*</url-pattern>
    </filter-mapping>

</web-app>
