BODY
{
    FONT: x-small arial,helvetica,clean,sans-serif
}
TABLE
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 100%;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}
SELECT
{
    FONT: 99% arial,helvetica,clean,sans-serif
}
INPUT
{
    FONT: 99% arial,helvetica,clean,sans-serif
}
TEXTAREA
{
    FONT: 99% arial,helvetica,clean,sans-serif
}
PRE
{
    FONT: 100% monospace
}
CODE
{
    FONT: 100% monospace
}
BODY *
{
    LINE-HEIGHT: 1.22em
}
