<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>
            com.intuit.sbd.payroll.psp.adapters.mobile.webservices.AuthenticationWS,
            com.intuit.sbd.payroll.psp.adapters.mobile.webservices.CompanyWS,
            com.intuit.sbd.payroll.psp.adapters.mobile.webservices.EventsWS,
            com.intuit.sbd.payroll.psp.adapters.mobile.webservices.EventWS,
            com.intuit.sbd.payroll.psp.adapters.mobile.webservices.PayeesWS,
            com.intuit.sbd.payroll.psp.adapters.mobile.webservices.PayeeWS,
            com.intuit.sbd.payroll.psp.adapters.mobile.webservices.TransactionWS,
            com.intuit.sbd.payroll.psp.adapters.mobile.webservices.TransmissionsWS,
            com.intuit.sbd.payroll.psp.adapters.mobile.webservices.TransmissionWS
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>

