
BODY {
    font-family:verdana;
	font-size:10pt;
	font-weight:normal;
	margin: 0;
	padding: 0;
}

TD,TH {
    font-family:verdana;
	font-size:8pt;
	font-weight:normal;
}

H3 {
	font-family:verdana;
	font-size:14pt;
	font-weight:bold;
}

a.inactiveLink {
    color: gray;
    white-space:nowrap;
}

a.activeLink {
    color: blue;
    white-space:nowrap;
}



