.introQuestions {
	color: #333333;
	font-family: VerdanaEmbeddedFont;
	font-size: 12pt;
}

.backgroundBox {
    paddingBottom:0px;
    paddingLeft:0px;
    paddingRight:0px;
    paddingTop:0px;
    borderColor: #E1E1E3;
    borderStyle: solid;
    borderThickness: 1px;
    borderSides: left, right;
}