/* Header definitions */

.headerTitle {	
	color: #325FBE; 
	font-size:24pt;
	font-weight:bold;
	font-family: FSAlbertHeading;
}

.headerQuestions {
	color: #000000;
	font-family: VerdanaEmbeddedFont;
	font-size: 11pt;
}