global {
    modalTransparencyBlur: 3;
    modalTransparency: 0.7;
    modalTransparencyColor: black;
    modalTransparencyDuration: 200;
}


@font-face
{
    src: url("assets/FS Albert-Bold.otf");
    fontStyle: normal; /* | italic | oblique;] */
    font-family: FSAlbertHeading;
    fontWeight: bold; /* normal | bold | */
    advancedAntiAliasing: true;  /*| false;] */
    unicode-range:
        U+0020-U+0040, /* Punctuation, Numbers */

        U+0041-U+005A, /* Upper-Case A-Z */
        U+005B-U+0060, /* Punctuation and Symbols */
        U+0061-U+007A, /* Lower-Case a-z */
        U+007B-U+007E; /* Punctuation and Symbols */
}
        
@font-face 
{
    src: local("Verdana");
    fontStyle: normal; /* | italic | oblique;] */
    font-family: VerdanaEmbeddedFont;
    fontWeight: normal; /* normal | bold | */
    advancedAntiAliasing: true;  /*| false;] */
    unicode-range:
        U+0020-U+0040, /* Punctuation, Numbers */

        U+0041-U+005A, /* Upper-Case A-Z */
        U+005B-U+0060, /* Punctuation and Symbols */
        U+0061-U+007A, /* Lower-Case a-z */
        U+007B-U+007E; /* Punctuation and Symbols */
}

@font-face 
{
    src: local("Verdana");
    fontStyle: normal; /* | italic | oblique;] */
    font-family: VerdanaEmbeddedFont;
    fontWeight: bold; /* normal | bold | */
    advancedAntiAliasing: true;  /*| false;] */
    unicode-range:
        U+0020-U+0040, /* Punctuation, Numbers */

        U+0041-U+005A, /* Upper-Case A-Z */
        U+005B-U+0060, /* Punctuation and Symbols */
        U+0061-U+007A, /* Lower-Case a-z */
        U+007B-U+007E; /* Punctuation and Symbols */
}

@font-face 
{
    src: local("Verdana");
    fontStyle: italic; /* | italic | oblique;] */
    font-family: VerdanaEmbeddedFont;
    fontWeight: bold; /* normal | bold | */
    advancedAntiAliasing: true;  /*| false;] */
    unicode-range:
        U+0020-U+0040, /* Punctuation, Numbers */

        U+0041-U+005A, /* Upper-Case A-Z */
        U+005B-U+0060, /* Punctuation and Symbols */
        U+0061-U+007A, /* Lower-Case a-z */
        U+007B-U+007E; /* Punctuation and Symbols */
}


@font-face 
{
    src: url("assets/ARIALSUP.TTF");
    fontStyle: normal; /* | italic | oblique;] */
    font-family: ArialSup;
    fontWeight: normal; /* normal | bold | */
    advancedAntiAliasing: true;  /*| false;] */
    vertical-align: top;
    unicode-range:
        U+0020-U+0040 /* Punctuation, Numbers */
}

@font-face 
{
    src: local("Arial");
    fontStyle: normal; /* | italic | oblique;] */
    font-family: ArialEmbeddedFont;
    fontWeight: bold; /* normal | bold | */
    advancedAntiAliasing: true;  /*| false;] */
    unicode-range:
        U+0020-U+0040, /* Punctuation, Numbers */
        U+2014-U+2015,
        U+0041-U+005A, /* Upper-Case A-Z */
        U+005B-U+0060, /* Punctuation and Symbols */
        U+0061-U+007A, /* Lower-Case a-z */
        U+007B-U+007E; /* Punctuation and Symbols */
}

@font-face 
{
    src: local("Arial");
    fontStyle: normal; /* | italic | oblique;] */
    font-family: ArialEmbeddedFont;
    fontWeight: normal; /* normal | bold | */
    advancedAntiAliasing: true;  /*| false;] */
    unicode-range:
        U+0020-U+0040, /* Punctuation, Numbers */
        U+2014-U+2015,
        U+0041-U+005A, /* Upper-Case A-Z */
        U+005B-U+0060, /* Punctuation and Symbols */
        U+0061-U+007A, /* Lower-Case a-z */
        U+007B-U+007E; /* Punctuation and Symbols */
}

@font-face 
{
    src: local("Arial");
    fontStyle: italic; /* | italic | oblique;] */
    font-family: ArialEmbeddedFont;
    fontWeight: normal; /* normal | bold | */
    advancedAntiAliasing: true;  /*| false;] */
    unicode-range:
        U+0020-U+0040, /* Punctuation, Numbers */
        U+2014-U+2015,
        U+0041-U+005A, /* Upper-Case A-Z */
        U+005B-U+0060, /* Punctuation and Symbols */
        U+0061-U+007A, /* Lower-Case a-z */
        U+007B-U+007E; /* Punctuation and Symbols */
}

@font-face 
{
    src: local("Arial");
    fontStyle: italic; /* | italic | oblique;] */
    font-family: ArialEmbeddedFont;
    fontWeight: bold; /* normal | bold | */
    advancedAntiAliasing: true;  /*| false;] */
    unicode-range:
        U+0020-U+0040, /* Punctuation, Numbers */
        U+2014-U+2015,
        U+0041-U+005A, /* Upper-Case A-Z */
        U+005B-U+0060, /* Punctuation and Symbols */
        U+0061-U+007A, /* Lower-Case a-z */
        U+007B-U+007E; /* Punctuation and Symbols */
}

@font-face
{
    src: url("assets/LCDSHOP-Regular.otf");
    font-family: LCDShopRegular;
}

.asterisk {
	font-family: ArialEmbeddedFont;
	font-size: 20px;
	leading: -5px;
    color: #FF0000;	
/*color: #F17226;*/
	text-align: left;
}

.errorText {
	font-family: ArialEmbeddedFont;
	font-size: 12px;
	text-align: left;
	color: #990000;
}

.buttonGetStarted {
	upSkin: Embed(source="assets/b_getstarted_normal.png");
	downSkin: Embed(source="assets/b_getstarted_normal.png");
	overSkin: Embed(source="assets/b_getstarted_hover.png");
}

.buttonContactMe{
	upSkin: Embed(source="assets/b_contactme_normal.png");
	downSkin: Embed(source="assets/b_contactme_normal.png");
	overSkin: Embed(source="assets/b_contactme_hover.png");
}


.buttonBack {
    upSkin: Embed(source="assets/b_back_normal.png");
	downSkin: Embed(source="assets/b_back_normal.png");
	overSkin: Embed(source="assets/b_back_hover.png");
}

.buttonContinue {
    upSkin: Embed(source="assets/b_continue_normal.png");
	downSkin: Embed(source="assets/b_continue_normal.png");
	overSkin: Embed(source="assets/b_continue_hover.png");
}

.buttonEligibility {
    upSkin: Embed(source="assets/b_coef_normal.png");
	downSkin: Embed(source="assets/b_coef_normal.png");
	overSkin: Embed(source="assets/b_coef_hover.png");
    disabledSkin: Embed(source="assets/b_completeform_d.png");
}


.closeButton {
	upSkin: Embed(source="assets/buttonPopupClose.png");
	downSkin: Embed(source="assets/buttonPopupCloseOver.png");
	overSkin: Embed(source="assets/buttonPopupCloseOver.png");
}


.footnote {
	fontSize: 		11; 
	font-family: 	ArialEmbeddedFont;
	color: 			#333333;				
}

.frontTeaser {
	font-family: FSAlbertHeading;
	color: black;
	font-size: 18pt;
	font-weight: bold;
    fontSharpness: 0;
    fontThickness: 50;
}

.frontTagLine {
	font-family: FSAlbertHeading;
	color: #3B7F13;
	font-size: 24pt;
	font-weight: bold;
    fontSharpness: 0;
    fontThickness: 50;    
}

.frontDetailText {
	font-family: ArialEmbeddedFont;
	font-size: 12pt;
	leading:5;
	color: #333333;
}

.frontDetailText2 {
	font-family: ArialEmbeddedFont;
	font-size: 12pt;	
	color: #000000;
}

.frontOptionHeader {
    font-family: ArialEmbeddedFont;
    font-size: 18pt;
    color: #000000;
    fontWeight: bold;
}

.orText {
    font-family: ArialEmbeddedFont;
    font-size:14pt;
    color: #666666;
}

.optionRule {
    color: #E4EFFC;    
}

.contactFormLabel {
    font-family: ArialEmbeddedFont;
    color: #333333;
    textAlign: left;
    fontSize: 12pt;    
}


.pageText {
	font-family: ArialEmbeddedFont;
	font-size: 12px;
    color: 	#333333;
}

.errorText {
    font-family: ArialEmbeddedFont;
	font-size: 12px;
    fontWeight: bold;
    color: 	#FF0000;    
}

.pageEmphasis {
    font-family: ArialEmbeddedFont;
	font-size: 12px;
    color: 	#333333;
    fontWeight: bold;    
}

.sectionHeading {
    font-family: VerdanaEmbeddedFont;
    font-size: 16px;
    color: #333333;
    fontSharpness: 0;
    fontThickness: 150;
}

.qaQuestion {
    fontFamily: ArialEmbeddedFont;
    color:#365EBF;
    fontWeight:bold;
    fontSize:12;
}

.qaAnswer {
    fontFamily:ArialEmbeddedFont;
    color:#333333;
    fontSize:12;
}

.noPadding {
    paddingBottom:0px;
    paddingLeft:0px;
    paddingRight:0px;
    paddingTop:0px;
}

.pageH3 {
    font-family: VerdanaEmbeddedFont;
    font-size: 14px;
    font-weight: bold;
    color: #000000;    
}

.pageH3Alt {
    font-family: VerdanaEmbeddedFont;
    font-size: 14px;
    font-weight: bold;
    color: #333333;        
}

.pageH4 {
    font-family: VerdanaEmbeddedFont;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}



.popUpBorder {
	backgroundColor: 	#FFFFFF;
	borderColor:		#CCCCCC;
	borderStyle: 		solid;
	cornerRadius:		10;
	padding-left:		20px;
	padding-right:		20px;
	padding-top:		20px;
	padding-bottom:		10px;	
}

.breadCrumb {
    font-family: VerdanaEmbeddedFont;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
    fontSharpness: 0;
    fontThickness: 50;        
}

.ribbonText {
	font-family: ArialEmbeddedFont;
	font-size: 12pt;
	color: #000000;
    fontSharpness: 0;
    fontThickness: 50; 
}

.infoBox {
    borderColor: #FF9900;
    borderStyle: solid;
    borderThickness: 1px;
    backgroundColor: #FFF7D3;
    cornerRadius: 4px;
}

.infoBoxBottom {
    backgroundColor: #FFFFFF;
    backgroundAlpha: 100;
}

.divider {
    strokeColor:#A9CDF6;
    shadowColor:#A9CDF6;
    strokeWidth:2;
}

.formLabel {
    font-family: ArialEmbeddedFont;
    font-size: 12px;
    color: 	#333333;
    paddingBottom:0px;
    paddingLeft:0px;
    paddingRight:0px;
    paddingTop:0px;
    textAlign:left;
}

.resultsText {
    font-family: ArialEmbeddedFont;
    color: #666666;
    font-size: 18px;
}

.resultsSuccessText {
    font-family: ArialEmbeddedFont;
    color: #669900;
    font-size: 18px;
}

.captionText {
    font-family: ArialEmbeddedFont;
    color: #333333;
    font-size: 11px;
    fontWeight: bold;
}

.largeBarText {
    font-family: ArialEmbeddedFont;
    color: #333333;
    font-size: 12px;
    fontWeight: bold;    
}

.estimatorQuestion {
    font-family: ArialEmbeddedFont;
    color: #666666;
    font-size: 12px;
    fontWeight: bold;

}

.bulletText {
    font-family: ArialEmbeddedFont;
    color: #333333;
    font-size: 12px;
    fontWeight: bold;
    fontStyle:italic;
}

.finalStepsBox {
    borderStyle: solid;
    borderColor: #CCCCCC;
    borderThickness: 1px;
    cornerRadius: 4px;
}

.infoBoxWhite {
    borderColor: #FF9900;
    borderStyle: solid;
    borderThickness: 1px;
    backgroundColor: #FFFFFF;
    cornerRadius: 4px;
}

.generatingText {
	font-family: VerdanaEmbeddedFont;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.mailingAddressText {
    font-family: ArialEmbeddedFont;
    color: #333333;
    font-size: 11px;    
    fontStyle:italic;
}

.estimatorOutput {
    font-family: LCDShopRegular;
    font-size: 60px;
    color: #669900;
}
