
#forgot-password {
    display:none;
}
#breadcrumb-navigation-bar {  
 position: relative !important;  
 z-index: 100; 
}  
#page-metadata-banner ul.banner>li {
 float: right;
}

#aui-page-panel {
 margin-top: 40px;
}



