#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=DB Solo 5
Exec="/u01/ogg/scripts/dbsolo5/dbsolo" %U
Icon=/u01/ogg/scripts/dbsolo5/.install4j/dbsolo.png
Categories=Application;
StartupWMClass=install4j-com-dbsolo-ui-MainApp_dbsolo
