<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Changes to masking secrets must be copied to FILE appender below as well -->
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss,SSSZ} [%thread] %-5level %logger{36} - %replace(%replace(%replace(%replace(%replace(%replace(%msg){'intuit_app_secret=([^,]+)', 'intuit_app_secret=xxxx '}){'\"password\":\s*\"([^"]+)\"', '\"password\":\"xxxx\"'}){'CsrfToken([:=]\s*)[^\s]+', 'CsrfToken$1xxxx'}){'intuit_token=[^,]+', 'intuit_token=xxxx'}){'(\"ticket\":\s*)\"[^\"]+\"', '$1\"xxxx\"'}){'((\.|_)(tkt|ticket))=[^;]+', '$1=xxxx'}%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/karate.log</file>
        <encoder>
            <!-- Changes to masking secrets must be copied to STDOUT appender above as well -->
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss,SSSZ} [%thread] %-5level %logger{36} - %replace(%replace(%replace(%replace(%replace(%replace(%msg){'intuit_app_secret=([^,]+)', 'intuit_app_secret=xxxx '}){'\"password\":\s*\"([^"]+)\"', '\"password\":\"xxxx\"'}){'CsrfToken([:=]\s*)[^\s]+', 'CsrfToken$1xxxx'}){'intuit_token=[^,]+', 'intuit_token=xxxx'}){'(\"ticket\":\s*)\"[^\"]+\"', '$1\"xxxx\"'}){'((\.|_)(tkt|ticket))=[^;]+', '$1=xxxx'}%n</pattern>
        </encoder>
    </appender>

    <logger name="com.intuit" level="INFO"/>
    <logger name="com.intuit.karate" level="DEBUG"/>
    <logger name="com.intuit.v4.util" level="WARN"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>