.ACHTransparentDataBox{
	drop-shadow-enabled: false;	
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: bottom,right;
	padding-left:5;
	padding-bottom:5;
	padding-right:5;
	padding-top:5;
}

.ACHGreyDataBox {
	background-color:#f4f4f4;
	drop-shadow-enabled: false;	
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: bottom,right;
	padding-left:5;
	padding-bottom:5;
	padding-right:5;
	padding-top:5;
}

.ACHTransparentBorderRightDataBox {
	drop-shadow-enabled: false;	
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: right;
	padding-left:5;
	padding-bottom:5;
	padding-right:5;
	padding-top:5;	
}

.ACHInformationBoxStyle {
	vertical-gap: 0px;
	border-style:solid;
	border-color:black;
	corner-radius:5;
	padding-left: 5px;
}

.ACHGreyBorderBottomDataBox {
	background-color:#f4f4f4;
	drop-shadow-enabled: false;	
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: bottom;
	padding-left:5;
	padding-bottom:5;
	padding-right:5;
	padding-top:5;
}

.ACHTransparentBorderBottomDataBox {
	drop-shadow-enabled: false;	
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: bottom;
	padding-left:5;
	padding-bottom:5;
	padding-right:5;
	padding-top:5;
}

.ACHTransparentBorderNoneDataBox {
	drop-shadow-enabled: false;	
	border-style:none;	
}

