

.checklistPopupWindow {
	padding-left:0;
	padding-top:0;
	padding-bottom:0;
	padding-right:0;
	show-close-button:true;
	layout: vertical;
	headerHeight: 15;
}

/* Standard VBox */
VBox {
	 font-size:11;
	 drop-shadow-enabled: false;	
}

/* Global link button Style */
.standardLinkButtonStyle {
	skin: ClassReference(null);		
	text-decoration:underline;
	color:blue;
	selection-color:#f4f4f4;
	rollover-color:#f4f4f4;
	font-weight:normal;
}

.inlineLinkButtonStyle {	
	skin: ClassReference(null);	
	text-decoration:underline;
	color:blue;
	selection-color:#f4f4f4;
	rollover-color:#f4f4f4;
	font-weight:normal;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;		
}

.inlineLinkButtonStyleBold {
	skin: ClassReference(null);
	text-decoration:underline;
	color:blue;
	selection-color:#f4f4f4;
	rollover-color:#f4f4f4;
	font-weight:bold;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}

.inlineLinkButtonStyleBoldNoUnderline {
	skin: ClassReference(null);
	color:blue;
	selection-color:#f4f4f4;
	rollover-color:#f4f4f4;
	font-weight:bold;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}

.inlineLinkButtonStyleBoldNoUnderlineNoFocus {
	skin: ClassReference(null);
	color:blue;
	selection-color:#f4f4f4;
	rollover-color:#f4f4f4;
	font-weight:bold;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
    focusThickness:0;
}


.inlineLinkButtonNoUnderline {
	skin: ClassReference(null);	
	color:blue;
	selection-color:#f4f4f4;
	rollover-color:#f4f4f4;
	font-weight:normal;
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;		
}

/* This is the CSS for the standard tabbed container */
/* All tabs should be a canvas and use this style */
.standardTabContainer {	
	padding-left:5px;
	padding-top:10px;
	padding-right:5px;
	border-style:none;	
}


/* In case VBox in tabs want to be broken out */
.masterVBox {
	/* placeholder */	
}


/* After the heading, there should be a vbox that contains the content */

.standardTabbedBody {
	background-color: white;
	padding-left:15px;
	padding-top:10px;
	padding-right:5px;
	padding-bottom:10px;
	vertical-gap: 0;
}

.pageBody {
	padding-left:15px;
	padding-top:10px;
	padding-right:15px;
	padding-bottom:10px;
	vertical-gap: 0;
	background-color: white;
	border-style: solid;
	border-color: #EEEEEE;
	border-sides: top, bottom, right;
	corner-radius: 15;		
}

.companyInspector {
	backgroundColor: #F4F4F4;	
}

.leftNavigation {			
    disabledSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    selectedUpSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    selectedOverSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    selectedDownSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    selectedDisabledSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    
    selection-color: #FFFFFF;               
    cornerRadii: 10, 0, 0,10;
    borderColor: #EEEEEE;
    borderThickness: 1;
    borderSides: top, bottom, left; 
    useDropShadow: true;   
	    
    theme-color: #F4F4F4;                  
     
    fillColors: #F4F4F4, #F4F4F4, #F4F4F4, #F4F4F4;
    fillAlphas: 1, 1, 1, 1;
    fillColorRatios: 0, 85, 170, 255;     
    
    overFillColors: #F4F4F4, #F4F4F4, #F4F4F4, #F4F4F4;
    overFillAlphas: 1, 1, 1, 1;
    overFillColorRatios: 0, 85, 170, 255;
    
    downFillColors: #F4F4F4, #F4F4F4, #F4F4F4, #F4F4F4;
    downFillAlphas: 1.0, 1.0, 1.0, 1.0;
    downFillColorRatios: 0, 85, 170, 255;
     
    disabledFillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
    disabledFillAlphas: 1, 1, 1, 1;
    disabledFillColorRatios:  0, 85, 170, 255;
     
    selectedFillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
    selectedFillAlphas: 1, 1, 1, 1;
    selectedFillColorRatios:  0, 85, 170, 255;
     
    color: #000000;
    textRollOverColor: #000000;
    disabledColor: #000000;
    
    roll-over-color: #F4F4F4;
     
    paddingTop: 8;
    paddingBottom: 8;
    paddingLeft: 10;
    paddingRight: 0;
    text-align: left;
    font-weight: normal;          
}

.theStyle {
	background-color: white;
}

.paddedVBox {
	 padding-top:5px;
	 padding-left:5px;
	 padding-right:5px;
	 padding-bottom:5px; 
}

DataGrid {
	drop-shadow-enabled: false;
}

/* Standard table heading */
.directDepositHeader {
	background-color: white;
	color: black;
}
    
 /* Used for text heading of screens */	
.heading {
	font-size: 20;
	font-weight: bold;
	padding-left: -5px;
}

.subheading {
    font-size: 14;
    font-weight: bold;
}

.h3 {
    font-size: 13;
}
    	
.dateHeading {
	font-size: 18;
	padding-left: -5px;
}    	    	
    	
/* Used for grid items that are "green" */
.directDepositGreenGridItem {
	color:green;
}

.headingSpacer {
	height: 20px;	
}


/* Gray Mini Box (such as that in Reverse DD Transactions) */
.grayMiniBox {
	background-color:#f4f4f4;  
	border-style:solid; 		
}
    	
.grayMiniBoxSubBox {
	border-style:solid;
	vertical-align:middle;
	padding-left:5px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:5px;
}




/* Standard DD Gray DataGrid (i.e. Notification history) */

.scrollableDataGrid {
	 background-color: #ffffff;
	 border-style:solid;
	 padding-top:2px;
	 padding-left:10px;
	 padding-right:10px;
	 padding-bottom:0px; 
	 horizontal-gap:0px;
	 vertical-gap:0px;
	 cornerRadius: 6;
	 drop-shadow-enabled:false;
	 border-color: black;
}


.grayDataGridVBox {
	 background-color: #f4f4f4;
	 border-style:solid;
	 padding-top:2px;
	 padding-left:0px;
	 padding-right:0px;
	 padding-bottom:0px; 
	 horizontal-gap:0px;
	 vertical-gap:0px;
	 cornerRadius: 6;
	 drop-shadow-enabled:false;
	 border-color: black;
}

.grayDataGrid {
	 padding-top:5px;
	 padding-left:5px;
	 padding-right:5px;
	 padding-bottom:5px; 
}

.grayDataGridHeading {
	font-weight: bold;
	font-size:14;	
}

.grayDataGridSubText {
	color: gray;
}

.grayDataGridSubTextHeading {
	color: black;
	font-size: 14;
}

.grayDataGridSubText2 {
	color: blue;
	font-size:12;
}

.taxDataGrid {
    alternatingItemColors: #ffffff, #e3e7f0;
}

/* No padding */
.zeroPadding {
	 padding-top:0px;
	 padding-left:0px;
	 padding-right:0px;
	 padding-right:0px;  
}

/* No padding and no gap */
.zeroPaddingZeroGap {
	 padding-top:0px;
	 padding-left:0px;
	 padding-right:0px;
	 padding-right:0px; 
	 horizontal-gap:0px;
	 vertical-gap:0px;
}


/* Additional UI Enahncements (can be taken out if wanted) */

TextInput { 
   backgroundColor: #ffffff;
   color: #333333;
   borderStyle: solid;
   borderColor: #333333;
   borderThickness: 1;
   cornerRadius: 0;
   textIndent: 3;
   dropShadowEnabled: false;
}


Button { 
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #999999, #ffffff, #cccccc;
   color: #000000;
   textRollOverColor: #000000;
} 

/* bread crumb defaults */
.breadCrumbContainer {
	borderStyle: solid;
	cornerRadius: 6;
	dropShadowEnabled: false;	
}

.breadCrumbLink {
	color: blue;
}

.breadCrumbCurrentItem {
	color: #000000;
	rollOverColor: #ffffff;
	selectionColor: #ffffff;	
}

/* border and gradient to style vbox and hbox collection like a datagrid*/
.checklistBorderBottomRightDarkGray {
	border-style:solid;
	border-color: #999999;
	background-color: #EAEAEA;
	border-thickness: 0.5;
	border-sides: bottom, right;	
}
.checklistBorderBottomDarkGray {
	border-style:solid;
	border-color: #999999;
	background-color: #EAEAEA;
	border-thickness: 0.5;
	border-sides: bottom;	
}

.checklistBorderBottomRightLightGray {
	border-style:solid;
	border-color: #999999;
	background-color: #F8F8F8;
	border-thickness: 0.5;
	border-sides: bottom, right;	
}
.checklistBorderBottomLightGray {
	border-style:solid;
	border-color: #999999;
	background-color: #F8F8F8;
	border-thickness: 0.5;
	border-sides: bottom;	
}

.checklistButton {
    fillAlphas: 1.0, 1.0;
    fillColors: #EAEAEA, #EAEAEA;
    border-color: #EAEAEA;
    focusAlpha: 0;
}


.backgroundGrey {
	background-color: #EEEEEE;
}

.borderAllBlack {
	border-style:solid;
	border-color: #000000;
	border-thickness: 1;
	border-sides: bottom, left, right, top;
}

.borderBottomLeftRight {
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: bottom, left, right;
}

.borderBottomLeftGrey {
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: bottom, left;
}

.borderBottomRight {
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: bottom, right;	
}

.borderRightGrey {
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: right;
}

.borderRightGreyToggled {
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: right;
	background-color: #FFFACD;
}

.borderRight {
	vertical-align: middle;
	border-style:solid;
	border-color:black;
	border-sides:right;
	horizontal-gap:0px;
}

.borderTop {
	vertical-align: middle;
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides:top;
	horizontal-gap:0px;
}

.borderBottom {
	vertical-align: middle;
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides:bottom;
	horizontal-gap:0px;
}

.borderLeftGrey {
	vertical-align: middle;
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides:left;
	horizontal-gap:0px;
}
.borderRightGrey {
	vertical-align: middle;
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides:right;
	horizontal-gap:0px;
}

.borderLeftRight {
	vertical-align: middle;
	border-style:solid;
	border-color:black;
	border-sides:right, left;
	horizontal-gap:0px;
}

.borderLeftRightGrey {
	vertical-align: middle;
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides:right, left;
	horizontal-gap:0px;
}
.headerBorder {
	background-color: #FFFFFF;
	backgroundImage: ClassReference("psp.sap.view.GradientBackground");
	backgroundSize: "100%";
	fillColors: #FFFFFF, #E9E9E9;
	fillAlphas: 0.5, 0.5;
	backgroundGradientColors: #FFFFFF, #E9E9E9;
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: top, bottom, left, right;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 2;
	padding-bottom: 2;
	padding-left: 2;
	padding-right: 2;
}

.headerBorderToggled {
	background-color: #FFFACD;
	backgroundSize: "100%";
	fillColors: #FFFFFF, #E9E9E9;
	fillAlphas: 0.5, 0.5;
	backgroundGradientColors: #FFFFFF, #E9E9E9;
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: top, bottom, left, right;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 2;
	padding-bottom: 2;
	padding-left: 2;
	padding-right: 2;
}

.headerBorderForCheckList {
	background-color: #FFFFFF;
	backgroundImage: ClassReference("psp.sap.view.GradientBackground");
	backgroundSize: "100%";
	fillColors: #FFFFFF, #E9E9E9;
	fillAlphas: 0.5, 0.5;
	backgroundGradientColors: #FFFFFF, #E9E9E9;
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: top, bottom, left, right;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 2;
	padding-bottom: 2;
	padding-left: 0;
	padding-right: 0;
}

.headerBorderRight {
	background-color: #FFFFFF;
	backgroundImage: ClassReference("psp.sap.view.GradientBackground");
	backgroundSize: "100%";
	fillColors: #FFFFFF, #E9E9E9;
	fillAlphas: 0.5, 0.5;
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: top, bottom, right;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 2;
	padding-bottom: 2;
	padding-left: 2;
	padding-right: 2;	
}

.headerBorderBottom {
	background-color: #FFFFFF;
	backgroundImage: ClassReference("psp.sap.view.GradientBackground");
	backgroundSize: "100%";
	fillColors: #FFFFFF, #E9E9E9;
	fillAlphas: 0.5, 0.5;
	border-style:solid;
	border-color: #999999;
	border-thickness: 0.5;
	border-sides: top, bottom;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 2;
	padding-bottom: 2;
	padding-left: 2;
	padding-right: 2;	
}

/* Error and Save Message Styles */
.errorMessageStyle {
	color: #ff0000;
	font-weight:bold;
}

.savedMessageStyle {
	color: #009900;
	font-weight:bold;
}


/* Company Notes */
.companyNoteFieldStyle {
	background-color: #eeeeee;
	border-color: #000000;
}



/* For add escalation credit */
.ddGrayMiniBoxStyle {
	background-color:#f4f4f4;  
	border-style:solid; 	
	corner-radius: 5;
	border-color: black;
	drop-shadow-enabled: false;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.ddDarkGrayMiniBoxStyle {
	background-color:#f4f4f4;  
	border-style:solid; 	
	corner-radius: 5;
	border-color: black;
	drop-shadow-enabled: false;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.ddDarkGrayMiniBoxStyleHeader {
	background-color:#f4f4f4;  
	border-style:solid; 	
	corner-radius: 5;
	border-color: black;
	drop-shadow-enabled: false;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 5px;
}

.grayMiniBoxWithMinimalPadding {
	background-color:#f4f4f4;  
	border-style:solid; 
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;	
}


.ddDarkGrayMiniBoxStyleOnlyTopPadding {
	background-color:#f4f4f4;  
	border-style:solid; 	
	corner-radius: 5;
	border-color: black;
	drop-shadow-enabled: false;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.ddGrayMiniBoxNoBorder {
	background-color:#f4f4f4;  
	border-style:none; 	
	corner-radius: 5;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}


.padderBox {
	padding-top: 5px;
	padding-bottom: 5px;
}

.padderLeftRight {
	padding-left: 5px;
	padding-right: 5px;
}

/** style for payroll action link buttons **/
.payrollActionEvent {
	padding-left: 0;
	padding-right: 0;
	color: blue;
	font-weight: normal;
}


/* Moving to file due to use on multiple screens */
.companyInformationBoxStyle {
	background-color:#f4f4f4;
	vertical-gap: 0px;
	border-style:solid;
	border-color:black;
	corner-radius:5;
	padding-left: 5px;
}

ComboBox {	
    disabledSkin:ClassReference('psp.sap.view.FlatComboBoxSkin');
    editableDisabledSkin:ClassReference('psp.sap.view.FlatComboBoxSkin');
    editableDownSkin:ClassReference('psp.sap.view.FlatComboBoxSkin');
    downSkin:ClassReference('psp.sap.view.FlatComboBoxSkin');
    editableOverSkin:ClassReference('psp.sap.view.FlatComboBoxSkin');
    overSkin:ClassReference('psp.sap.view.FlatComboBoxSkin');
    editableUpSkin:ClassReference('psp.sap.view.FlatComboBoxSkin');
    upSkin:ClassReference('psp.sap.view.FlatComboBoxSkin');
}

.activationsQueueBoxStyle {
	background-color:#f4f4f4;
	vertical-gap: 0px;
	border-style:solid;
	border-color:black;
	corner-radius:5;
	padding-left: 0px;
	padding-right: 0px;
}

.activationsQueueBoxGridItem {
	background-color:#f4f4f4;
	vertical-gap: 0px;
	border-style:solid;
	border-color:black;
	corner-radius:0;
	padding-left: 0px;
	padding-right: 0px;
}

.activationsCheckListHeaderItem {
	background-color:#eeeeee;
	vertical-gap: 0px;
	border-style:solid;
	border-color:#999999;
	corner-radius:0;
	padding-left: 0px;
	padding-right: 0px;
	border-sides:bottom,top;
}

.upperSubCompanyInfoBoxStyle {
	vertical-align: middle;
	border-style:solid;
	border-color:black;
	border-sides:bottom;
	horizontal-gap:0px;
}

.boldText {
	font-weight:bold;
}


.rightAlignBoldLabel {
	font-weight:bold;
	text-align:right;
}

.companyInformationGrid {
	background-color:#f4f4f4;
	corner-radius:5;
	border-style:solid;
	border-color:black;
	vertical-gap:0;
	horizontal-gap:0;	
}

.companyInformationCaptionColumn {
	border-style:solid;
	border-color:black;
	border-sides:bottom, right;
	padding-left: 5px;	
}

.companyInformationDataColumn {
	border-style:solid;
	border-color:black;
	border-sides:bottom, right;
	padding-left: 5px;	
}

.companyInformationActionColumn {
	vertical-align:middle;
	padding-left: 3px;
}

.companyInformationColumnLastRow {
	border-style:solid;
	border-color:black;
	border-sides:right;
	padding-left: 5px;		
}

.smallFont {
	font-size: 6;
}

.headerCenter {
	text-align:center;
}

.fakeTab {
	border-style:solid;
	rounded-bottom-corners:0;
	corner-radius:5;
	background-color: #CED5E5;
	font-size: 10px;
	border-thickness-bottom: 0px;
	border-color: #CED5E5;
	
		
}

.notesBox {
	
}

.fakePanel {
	
}

.dividedVBox {
	
}

.companyExplorerTab {
	background-color: #F4F4F4;
	padding-top: 0;
	padding-bottom: 0;
}

.payrollPopUpMenu {
	alternatingItemColors: #FFFFFF, #FFFFFF;
}

.topNavigation {			
    disabledSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    selectedUpSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    selectedOverSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    selectedDownSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    selectedDisabledSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    overSkin:ClassReference('psp.sap.view.CompanyTopicsEnhancedButtonSkin');
    
    selection-color: #FFFFFF;               
    cornerRadii: 10, 10, 0, 0;
    borderColor: #EEEEEE;
    borderThickness: 1;
    borderSides: top, right, left;             
	    
    theme-color: #CED5E5;                  
     
    fillColors: #CED5E5, #CED5E5, #CED5E5, #CED5E5;
    fillAlphas: 1, 1, 1, 1;
    fillColorRatios: 0, 85, 170, 255;     
    
    overFillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
    overFillAlphas: 1, 1, 1, 1;
    overFillColorRatios: 0, 85, 170, 255;
    
    downFillColors: #CED5E5, #CED5E5, #CED5E5, #CED5E5;
    downFillAlphas: 1.0, 1.0, 1.0, 1.0;
    downFillColorRatios: 0, 85, 170, 255;
     
    disabledFillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
    disabledFillAlphas: 1, 1, 1, 1;
    disabledFillColorRatios:  0, 85, 170, 255;
     
    selectedFillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
    selectedFillAlphas: 1, 1, 1, 1;
    selectedFillColorRatios:  0, 85, 170, 255;
     
    color: #000000;
    textRollOverColor: #000000;
    disabledColor: #000000;
    
    roll-over-color: #FFFFFF; 
    font-weight: normal;
    padding-bottom: 5;
    padding-top: 5;
}

.companyTab {			
    disabledSkin: ClassReference('psp.sap.view.CompanyTabSkin'); 
	downSkin: ClassReference('psp.sap.view.CompanyTabSkin'); 
	overSkin: ClassReference('psp.sap.view.CompanyTabSkin');
	selectedDisabledSkin: ClassReference('psp.sap.view.CompanyTabSkin');
	selectedDownSkin: ClassReference('psp.sap.view.CompanyTabSkin');
	selectedOverSkin: ClassReference('psp.sap.view.CompanyTabSkin');
	selectedUpSkin: ClassReference('psp.sap.view.CompanyTabSkin');
	upSkin: ClassReference('psp.sap.view.CompanyTabSkin');
        
    selection-color: #FFFFFF;               
    cornerRadii: 10, 10, 0, 0;
    borderColor: #CED5E5;
    borderThickness: 1;
    borderSides: top, right, left;                 
	    
    theme-color: #CED5E5;                  
     
    fillColors: #D0D7E9, #D0D7E9, #D0D7E9, #D0D7E9;
    fillAlphas: 0, 0, 0, 0;
    fillColorRatios: 0, 0, 0, 0;     
    
    overFillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
    overFillAlphas: 1, 1, 1, 1;
    overFillColorRatios: 0, 85, 170, 255;
    
    downFillColors: #CED5E5, #CED5E5, #CED5E5, #CED5E5;
    downFillAlphas: 1.0, 1.0, 1.0, 1.0;
    downFillColorRatios: 0, 85, 170, 255;
     
    disabledFillColors: #E8E8E8, #E8E8E8, #E8E8E8, #E8E8E8;
    disabledFillAlphas: 1, 1, 1, 1;
    disabledFillColorRatios:  0, 85, 170, 255;
     
    selectedFillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
    selectedFillAlphas: 1, 1, 1, 1;
    selectedFillColorRatios:  0, 85, 170, 255;
     
    color: #000000;
    textRollOverColor: #000000;
    disabledColor: #000000;
    
    roll-over-color: #FFFFFF; 
    font-weight: normal;
    padding-bottom: 5;
    padding-top: 5;
}

.menuBox {
	border-sides: top, left, right;
	border-style: solid;
	padding-bottom: 0;
	background-color: #CED5E5; 
}

.expanderBar {
	background-color: #eeeeee;
	padding-left: 5;
	padding-top: 5;
	padding-right: 5;
	padding-bottom: 5;
	border-color: #dddddd;
	border-style: solid;
	border-thickness: 1;
	
}

.expanderBarWhite {
	background-color: #FFFFFF;
	padding-left: 5;
	padding-top: 5;
	padding-right: 5;
	padding-bottom: 5;
	vertical-align: middle;		
}

.fieldLabel {
	font-weight: bold;	
}

.contactName {
	font-weight: bold
}

.activationsH3 {
	font-size:14;
}

.notesH1 {
	font-size:14;
	font-weight: bold;
}

.operatorH2 {
	font-size:14;
}

.operatorColumnHeader {
	font-weight:bold;
}

.operatorTitleRow {
	background-color: #D0D0D0;
}

.operatorSummaryRow {
	background-color: #D0D0D0;
}

.operatorRow {
	background-color: white;	
}


.operatorAlternateRow {
	background-color: #F0F0F0;	
}

.achGrid {
	border-color: black;
	border-style: solid;				
}

.totalBorder{
	border-style: solid;
	border-color: black;
	border-sides: top;
	background-color: white;
}

.grayDataGridVBoxLightBorders {
	 background-color: #f4f4f4;	 
	 padding-top:2px;
	 padding-left:0px;
	 padding-right:0px;
	 padding-bottom:0px; 
	 horizontal-gap:0px;
	 vertical-gap:0px;
	 drop-shadow-enabled:false;
	 border-style:solid;
	 border-color: #EEEEEE;
	 border-sides: top, bottom;
}

.agencyDetailGrid {
	vertical-gap:0px;
	horizontal-gap:0px;	
}

.agencyDetailHeaderCurrent {
	border-style: solid;
	border-color: black;
	border-thickness: 1px;
	border-sides: left, top;
	font-weight: bold;	
	color: black;
	background-color: #EEEEEE;
}

.agencyDetailHeaderFuture {
	border-style: solid;
	border-color: black;
	border-thickness: 1px;
	border-sides: left, top, right;
	font-weight: bold;
	color: black;
	background-color: #EEEEEE;		
	padding-right:-2px;
}

.agencyDetailSubHeader1 {
	border-style: solid;
	border-color: black;
	border-thickness: 1px;
	border-sides: left, top;	
	font-weight: bold;
	color: black;			
	background-color: #EEEEEE;	
}

.agencyDetailSubHeader2 {
	border-style: solid;
	border-color: black;	
	font-weight: bold;
	border-sides: left, top, right;
	color: black;			
	background-color: #EEEEEE;			
}

.agencyDetailItem1 {
	border-style: solid;
	border-color: black;
	border-thickness: 1px;
	border-sides: left, top;
	color: black;						
}

.agencyDetailItem2 {
	border-style: solid;
	border-color: black;
	border-sides: left, top, right;		
	color: black;						
}

.agencyDetailLastItem1 {
	border-style: solid;
	border-color: black;
	border-thickness: 1px;
	border-sides: left, top, bottom;
	color: black;						
}

.agencyDetailLastItem2 {
	border-style: solid;
	border-color: black;
	border-sides: left, top, right, bottom;		
	color: black;		
}

.minimalBox {
	border-style:solid;
	border-color:black;
	horizontal-gap:0;
	vertical-gap:0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.errorBox {
	horizontal-gap:0;
	vertical-gap:0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;	
}

/*
link formatting is set in LinkableText.as
*/
.linkableTextBox {
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: 11pt;
}

.blackText {
    color: black;
}

.serviceStatusLabel {
	font-weight: bold;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.popUpBorder {
	backgroundColor: 	#FFFFFF;
	borderColor:		#CCCCCC;
	borderStyle: 		solid;
	cornerRadius:		10;
	padding-left:		20px;
	padding-right:		20px;
	padding-top:		20px;
	padding-bottom:		10px;
}

.closeButton {
	upSkin: Embed(source="./assets/images/buttonPopupClose.png");
	downSkin: Embed(source="./assets/images/buttonPopupCloseOver.png");
	overSkin: Embed(source="./assets/images/buttonPopupCloseOver.png");
}

.noPadding {
    paddingBottom:0px;
    paddingLeft:0px;
    paddingRight:0px;
    paddingTop:0px;
}
