/* CSS file */
.ddLimitDollarAmountStyle {
	text-align:right;
	color: #666666;
}

.ddDefaultLimitTextStyle {
	color: green;
	font-weight: bold;
}

.ddDefaultNotUsingLimitTextStyle {
	color: #666666;
}


.ddGrayMiniBoxStyle {
	background-color:#f4f4f4;  
	border-style:solid; 	
	corner-radius: 5;
	border-color: black;
}

.ddLimitBoxStyle {
	horizontal-gap: 0px;
	horizontal-align: left;
}