/* CSS file */
.actionBoxStyle {
	 vertical-align:middle;
	 border-style: solid;
	 border-color: black;
	 border-sides:left;
}

.dataBoxStyle {
	 border-style: solid;
	 border-color: black;
	 border-sides:left;
}

.ddLimitBoxStyle {
	horizontal-gap: 0px;
	horizontal-align: right;
}

.adminSettingsBoxStyle {
    horizontal-gap: 0px;
    horizontal-align: left;
}

.ddPerLimitTextStyle {
	font-weight: bold;	
}

.ddLimitDollarAmountStyle {
	text-align:right;
}

.ddLimitDollarAmountDisabledStyle {
	text-align:right;
	color: #666666;
}

.ddDefaultNotUsingLimitTextStyle {
	color: #666666;
}
.ddDefaultLimitTextStyle {
	color: green;
}

.dataLabel {
	color: #444444;
	font-weight: bold;
}

.addTabButton {
/*	disabledIcon: null; */
    disabledSkin: ClassReference(null);
/*	downIcon: null; */
    downSkin: ClassReference(null);
/*	overIcon: null; */
    overSkin: ClassReference(null);
    paddingBottom: 1;
    paddingTop: 1;
/*	selectedDisabledIcon: null; */
    selectedDisabledSkin: ClassReference(null);
/*	selectedDownIcon: null; */
    selectedDownSkin: ClassReference(null);
/*	selectedOverIcon: null; */
    selectedOverSkin: ClassReference(null);
/*	selectedUpIcon: null; */
    selectedUpSkin: ClassReference(null);
    skin: ClassReference("mx.skins.halo.TabSkin");
/*	upIcon: ClassReference(null); */
    upSkin: ClassReference(null);
}

.contactsViewStack {
	backgroundColor: #FFFFFF;
	borderColor: #AAB3B3;	/* used for edge of tab's content area, */
	borderStyle: solid;
	horizontalAlign: left;
	horizontalGap: -1;	
	tabOffset: 0;
}