/* CSS file */
		
 .linkButtonWindowShadeX {
  	
  	
 	drop-shadow-enabled:false;
 	
  	corner-radius:0;
  	border-style:none;
  	
	color: #000000;
	background-color:#ffffff;
	
	padding:20;
	background-alpha:1;
}         
.linkButtonWindowShadeY {
	drop-shadow-enabled:false;
 	
  	corner-radius:0;
  	border-style:none;
  	
	color: #000000;
	background-color:#ffffff;
	
	padding:20;
	background-alpha:1;
}

.linkButtonStyleName {
	corner-radius:2;	
	fill-alphas:1,1;
	padding-left:0;
}

.companyInfoFormStyle {
	font-weight: bold;
	color: #000000;	
	padding: 0;
	margin: 0;
}

.itemValue {
	padding:-2;
	color: #333333;
}

.mxFormItem {
	padding: 0;	
	margin: 0;
}

.gone {
	display: none;
	visibility: hidden;
}
.notGone {
	display: inline;
}