/* CSS file */
.radioBoxStyle {
	background-color: #f4f4f4;
	border-color: black;
	vertical-gap: 0;
	border-style: solid;
	corner-radius: 5;
}

.radioButtonGroupBoxStyle {
	background-color: #f4f4f4;
	vertical-gap: 0;
	horizontal-gap: 0;
	vertical-align: middle;
}

.radioButtonBoxStyle {
	vertical-align:left;
	border-style: solid;
	border-color: #f4f4f4;
	padding-left: 5;
	padding-top: 1;
	padding-bottom: 1;
}