/* CSS file */
.customButtonStyle {
	 upSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     overSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     downSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     disabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     selectedUpSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     selectedOverSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     selectedDownSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     selectedDisabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     cornerRadii: 6, 6, 0, 0;
     borderColors: #000000, #000000;
     overBorderColors: #003399, #003399;
     selectedBorderColors: #003399, #003399;
     borderThickness: 0;
     
     
     fillColors: #000000, #000000, #000000, #000000;
     fillAlphas: 0.9, 0.9, 0.9, 0.15;
     fillColorRatios: 32, 85, 170, 255;
     
     selectedFillColors: #000000, #000000, #000000, #000000;
     selectedFillAlphas: 0.75, 0.5, 1, 0.5;
     selectedFillColorRatios: 0, 85, 170, 255;
     
     overFillColors: #000000, #000000, #000000, #000000;
     overFillAlphas: 0.7, 0.7, 0.7, 0.1;
     overFillColorRatios: 0, 85, 170, 255;
     
     downFillColors: #000000, #000000, #000000, #000000;
     downFillAlphas: 1.0, 1.0, 1.0, 1.0;
     downFillColorRatios: 0, 85, 170, 255;
     
     disabledFillColors: #006633, #006633, #00CC33, #00FF00;
     disabledFillAlphas: 0.5, 0.3, 0.3, 0.3;
     disabledFillColorRatios:  0, 85, 170, 255;
     
     color: #FFFFFF;
     textRollOverColor: #FFFFFF;
     disabledColor: #FFFFFF;
     
     paddingTop: 8;
     paddingBottom: 8;
     paddingLeft: 3;
     paddingRight: 3;
     
     font-weight: normal;
     fontSize: 10;
     
}

.selectedCustomButtonStyle {
	 upSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     overSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     downSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     disabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     selectedUpSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     selectedOverSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     selectedDownSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
     selectedDisabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');



}