/* CSS file */

.loginBox {
	background-color:#ffffff;
	border-color:#000000;
	border-style:solid;
	border-thickness:1;
	padding-left:15;
	padding-bottom:5;
	padding-top:5;
	padding-right:5;
	font-size:12;
}

.loginPopupWindow {
	padding-left:0;
	padding-top:0;
	padding-bottom:0;
	padding-right:0;
	show-close-button:true;
	layout: vertical;
	headerHeight: 15;
}