/* CSS file */

.gridBoxStyle{
	border-style:solid;
	border-color: black; 
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	background-color:#f4f4f4;
	cornerRadius: 5;	   			
}

.borderRight {
	vertical-align: middle;
	border-style:solid;
	border-color:black;
	border-sides:right;
	horizontal-gap:0px;
}

.borderRightGrey{
	vertical-align: middle;
	border-style:solid;
	border-color:#736F6E;
	border-sides:right;
	horizontal-gap:0px;
}
.borderRightTopBottom {
	vertical-align: middle;
	border-style:solid;
	border-color:black;
	border-sides:right,top,bottom;
	horizontal-gap:0px;
}

.borderTopBottom {
	vertical-align: middle;
	border-style:solid;
	border-color:black;
	border-sides:top,bottom;
	horizontal-gap:0px;
}

.borderRight {
	vertical-align: middle;
	border-style:solid;
	border-color:black;
	border-sides:right;
	horizontal-gap:0px;
}

.borderLeft {
	vertical-align: middle;
	border-style:solid;
	border-color:black;
	border-sides:left;
	horizontal-gap:0px;
}