/* CSS file */
.padderBoxTop {	
	background-color: #FFFFFF;
	backgroundImage: ClassReference("psp.sap.view.GradientBackground");
	backgroundSize: "100%";
	fillColors: #FFFFFF, #E9E9E9;
	fillAlphas: 0.5, 0.5;
	backgroundGradientColors: #FFFFFF, #E9E9E9;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;	
}

.inputLabels {
	color: black;
	font-weight: bold;
}
