/*
 *	Copyright: 2007, Intuit, Inc. All rights reserved.
 *	@version $Revision$
 *
 *	Styles for the Gemini application
 *
 */

    .linkLabelStyle {
    	borderThickness:2;
    	borderColor:#777777;
    }
    
    .requiredComboStyle {
    	
        fillColors: #ff0000, #cccccc, #ff0000, #eeeeee;
     
     	
    }
	.requiredFieldLabelStyle {
		color:#ff0000;
      	   textAlign:"right";
      	   fontWeight:"bold";
      	   fontFamily: "Trebuchet MS"; /* Bold"; */
      	  fontSize:12;   	   	   
      	  /* color:#666666; */
	}
	
      .requiredWorkflowPageSectionHeaderStyle {
      	  fontSize:16;
		color:#ff0000;
      	   textAlign:"right";
      	   fontWeight:"bold";
      	   fontFamily: "Trebuchet MS";   	   	  
      }
      
  .employeeListButtonsLeftOfSurroundStyle {
		/*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		backgroundColor:#AAB4D6;  /*#6474B4; */ /*#5366AC;*/
		
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:0;
   	   topRightCornerRadius:0;
   	   bottomLeftCornerRadius:0;
   	   bottomRightCornerRadius:18;         	
  }  
     	   
  .employeeListButtonsSurroundStyle {
	    color:#996600;
		/*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		backgroundColor:#c6cce0;  /*#6474B4; */ /*#5366AC;*/
		
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:18;
   	   topRightCornerRadius:6;
   	   bottomLeftCornerRadius:0;
   	   bottomRightCornerRadius:0;         	
  }   	   
      		
  .payrollViewButtonsSurroundStyle {
	    color:#996600;
		/*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		backgroundColor:#eeeeee;  /*#6474B4; */ /*#5366AC;*/
		
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:0;
   	   topRightCornerRadius:14;
   	   bottomLeftCornerRadius:0;
   	   bottomRightCornerRadius:0;         	
  }
  
  
  
  
  .payrollHeaderControlsSurroundStyle {
	    color:#996600;
		/*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		backgroundColor:#AAB4D6;  /*#6474B4; */ /*#5366AC;*/
		
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:0;
   	   topRightCornerRadius:0;
   	   bottomLeftCornerRadius:8;
   	   bottomRightCornerRadius:8;    
   	   gradientColors:#ffffff,#c6cce0;  /*AAB4D6;*/  /*#ececed;*/
   	   gradientRatios:0,240;  /*128;*/
   	   gradientAlphas:0,.55;      	
  }
  
     	   		
  .summarySectionSurroundStyle {
	    color:#996600;
		/*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		backgroundColor:#6E7FB9;  /*#6474B4; */ /*#5366AC;*/
		
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:0;
   	   topRightCornerRadius:0;
   	   bottomLeftCornerRadius:8;
   	   bottomRightCornerRadius:8;    
   	   gradientColors:#ffffff,#AAB4D6;  /*#ececed;*/
   	   gradientRatios:0,240;  /*128;*/
   	   gradientAlphas:0,.15;      	
  }
  
  .payrollAboveGridHBoxStyle {
	    color:#996600;
		/*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		backgroundColor:#6E7FB9;  /*#6474B4; */ /*#5366AC;*/
		
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:0;
   	   topRightCornerRadius:0;
   	   bottomLeftCornerRadius:0;
   	   bottomRightCornerRadius:0;    
   	   gradientColors:#C2C9E1,#B7BED7;  /*#ececed;*/
   	   gradientRatios:0,240;  /*128;*/
   	   gradientAlphas:1,1;      	
  }      
  
  
  .aboveCheckStyle {
	    color:#996600;
		/*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		backgroundColor:#6E7FB9;  /*#6474B4; */ /*#5366AC;*/
		
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:0;
   	   topRightCornerRadius:0;
   	   bottomLeftCornerRadius:0;
   	   bottomRightCornerRadius:0;    
   	   gradientColors:#B7BED7, #AAB1C8;  /*#ececed;*/
   	   gradientRatios:0,240;  /*128;*/
   	   gradientAlphas:1,1;      	
  }
  
  
   .checkViewContainerStyle {
   	   borderStyle:"payrollEachCornerRoundedDifferent";
   	   /*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
   	   backgroundColor:#eeeeee; 
   	   topLeftCornerRadius:0;
   	   topRightCornerRadius:0;
   	   bottomLeftCornerRadius:0;
   	   bottomRightCornerRadius:0;
   	   showInnerShadow:true; 
   }      
  
   .labelWithToolTipRollOverStyle {
      backgroundColor:#ffcc33;
      backgroundAlpha:.3;     
		/*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/			
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:4;
   	   topRightCornerRadius:4;
   	   bottomLeftCornerRadius:4;
   	   bottomRightCornerRadius:4;           	
   }
   
   .labelWithToolTipRollOutStyle {
   	   backgroundAlpha:0;
   }
   
   .workflowHeaderSmallTextStyle {
   	   fontSize:11;
   }
   
   .workflowHeaderSmallestTextStyle {
   	   fontSize:10;
   }       
   
      .workflowContainerStyle {
      	   backgroundColor:#ffffff;
      	   backgroundAlpha:0;
      }
      
      .workflowPageHeaderBreadcrumbContainerStyle {
      	 /* backgroundColor:#ff0000; */
      }
      
      .workflowReadOnlyFieldStyle {
      	   editable:false;
      	   backgroundAlpha:0;
      	   borderStyle:"none";
      }
      
      .workflowPageStyle {
      	  color:#305A06;
      	  backgroundColor:#ffffff;
      	  paddingTop:8;
      	  paddingRight:8;
      	  paddingBottom:8;
      	  paddingLeft:8;
      }
      
      .workflowFormLabelStyle {
      	   textAlign:"right";
      	   color:#666666;
      }
      
      .workflowFormFieldStyle {
      	   fontSize:12;
      	   color:#222222;
      }
      
      .workflowFormRequiredToProceedFieldStyle {
      	   fontSize:12;
      	   color:#ffffff;
      	   backgroundColor:#FF0000;
      }
      
      .workflowFormRequiredFieldStyle {
      	   fontSize:12;
      	   color:#222222;
      	   backgroundColor:#ffffff; /* this is yellow: #FFFF99; */
      }
      
      .workflowPageSectionHeaderStyle {
      	  fontSize:16;
      }
      
      .workflowPageSectionSubHeaderStyle {
      	  fontSize:15;
      }   	   
      
      .workflowPageHeaderStyle {
      	   backgroundColor:#AAB4D6;  /*#A5B96E;*/  /*#BDAC75;*/  /*#A2914E;*/  /*#89A24E;*/  /*#6F7767;*/  /*AFBDA1;*/
      	   color:#ffffff;
      	   fontSize:18;
      	   
       /*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		borderStyle:"candystoreRoundTopFlatBottom";
		cornerRadius:6;      	
      	   
      }
      
      .workflowPageHeaderBreadcrumbsStyle {
      	   color:#ffffff;
      	   fontSize:16;   	  	
      }
      
      .workflowPageButtonstripContainerStyle {
   	   backgroundColor:#eeeeee;
   	   borderColor:#6E7FB9;
   	   borderSides:top;
   	   borderStyle:solid;
   	   borderThickness:3;   	   
   	}
   	   
   .workflowPageThumbstripContainerStyle {
   	  /* backgroundColor:#cc0000; */
   	   backgroundColor:#eeeeee;
   	  /* borderColor:#6E7FB9;
   	   borderSides:top;
   	   borderStyle:solid;
   	   borderThickness:3;*/
   }
      
      .workflowPageHeaderButtonStyle {
      	  fontFamily: "Trebuchet MS";
      	  fontWeight:normal;
      	  fontSize:12;
      	  color:#305A06;
      	  paddingTop:2;
		fillColors:#eeeeee,#eeeeee;
		fillAlphas:1,1;
		backgroundColor:#eeeeee;   
		themeColor:#6699CC;	   	  
      }
      
      .sectionHeaderStyle {
      	  	fontWeight:bold;
      	  	color:#4B8C09;  	  
      	  	paddingTop:2;
		fillAlphas:1,1;
		fontSize:16;   	   	  
      }   	   
      
      .workflowThumbLabelStyle {
      paddingTop:0;
      paddingBottom:0;  	   	
      }
      
      .workflowPageVertThumbDividerStyle {
         backgroundColor:#B2B7AC; /* #E9EDE5; */
      }
      
      .workflowSummaryThumbPageContentStyle {
      	  backgroundColor:#eeeeee;
      }
      
      .workflowStepThumbPageContentStyle {
      	  backgroundColor:#ffffff;
      	  color:#6F7767;
      	  fontSize:10;
      }
      
      
      .workflowSummaryPageStyle {
      	   backgroundColor:#AAB4D6;  /*#A5B96E;*/  /*#BDAC75;*/ /*#A2914E;*/  /*#6F7767;*/  /*#AFBDA1;*/
      	   /*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:6;
   	   topRightCornerRadius:6;
   	   bottomLeftCornerRadius:6;
   	   bottomRightCornerRadius:6;    
   	   paddingTop:4;
   	   paddingRight:4;
   	   paddingLeft:4; 	
   	   paddingBottom:4;   	   
      }
      
      .workflowStepThumbnailPageStyle {
      	   backgroundColor:#AAB4D6;  /*#A5B96E;*/  /*#BDAC75;*/  /*#A2914E;*/  /*#6F7767;*/  /*#AFBDA1;*/
      	   /*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:6;
   	   topRightCornerRadius:6;
   	   bottomLeftCornerRadius:6;
   	   bottomRightCornerRadius:6;    
   	   paddingTop:4;
   	   paddingRight:4;
   	   paddingLeft:4; 	
   	   paddingBottom:4;   	  
   	   horizontalScrollPolicy:"off";
      }
      
      .workflowUnSelectedStepThumbSurroundStyle {
      	   backgroundAlpha:0;
   	   paddingTop:4;
   	   paddingRight:4;
   	   paddingBottom:4;
   	   paddingLeft:4;   	   	   
      }
      	
      .workflowSelectedStepThumbSurroundStyle {
      	   backgroundColor:#ffcc00;  /*#AFBDA1;*/
      	   /*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:6;
   	   topRightCornerRadius:6;
   	   bottomLeftCornerRadius:6;
   	   bottomRightCornerRadius:6;    
   	   paddingTop:4;
   	   paddingRight:4;
   	   paddingBottom:4;
   	   paddingLeft:4;
   	}
   	   	   	
      .workflowHoverOverStepThumbSurroundStyle {
      	   backgroundColor:#FFEC61;  /*#AFBDA1;*/
      	   /*borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');*/
		borderStyle:"payrollEachCornerRoundedDifferent";
   	   topLeftCornerRadius:6;
   	   topRightCornerRadius:6;
   	   bottomLeftCornerRadius:6;
   	   bottomRightCornerRadius:6;    
   	   paddingTop:4;
   	   paddingRight:4;
   	   paddingBottom:4;
   	   paddingLeft:4;
   	}
      
      .workflowStepThumbnailPageHeaderStyle {
      	   backgroundColor:#AAB4D6;  /*#A5B96E;*/  /*#BDAC75;*/ /*#A2914E;*/  /*#6F7767;*/  /*#AFBDA1;*/
      	   color:#ffffff;
      /* borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');
		borderStyle:"candystoreRoundTopFlatBottom";
		cornerRadius:6; */
      	   fontSize:10;
      }

      
      
      .workflowSummaryPageHeaderStyle {
      	   backgroundColor:#AAB4D6;  /*#A5B96E;*/  /*#BDAC75;*/  /*#A2914E;*/ /*#6F7767;*/  /*#AFBDA1;*/
      	   color:#ffffff;
      /* borderSkin:ClassReference('com.intuit.sb.payroll.sharedUI.util.borders.TextFieldCandystoreSkin');
		borderStyle:"candystoreRoundTopFlatBottom";
		cornerRadius:6; */
      	   fontSize:10;
      }

      .wizardButtonStyleSmallFonts {
      	 fontWeight:normal;
	 fillAlphas: 0.85, 0.95, 0.75, 0.65;
	   fillColors: #8b99c5, #8b99c5, #ffffff, #eeeeee;
	   color: #ffffff;   	   
	   fontSize:11;	
      }

      
	.wizardButtonStyle {
		disabledColor:#999999;
	  	fontWeight:normal;
		fillAlphas: 0.85, 0.95, 0.75, 0.65;
	   fillColors: #8b99c5, #8b99c5, #ffffff, #eeeeee;
	   color: #ffffff;   	   	
	  }
   	   
   	   
global {
	themeColor: #ff9900;
} 

/* application tool bar */
.applicationBar {
	background-color:#EFEFEF;
}

/* application work area */
.workArea {
 	background-color:#DEE7EF;
}

.companyInfoTabs {
	background-color:#D7D2C5;	
	background-color:#FFFFFF;
}

.controlBarButtons {
	background-color: #ffffff;	
}

.selectedCompanyButtonText {
	background-color: #ff0000;	
}

.selectedCompanyTabText{
	background-color: #00ff00;	
}

.companyButton {
	background-color: #0000ff;	
}

.companyFirstTab {
	background-color: #ffff00;	
}

.companyLastTab {
	background-color: #00ffff;	
}

.companyTab {
	background-color: #ff00ff;	
}

.companyTabStyle {
	background-color: #ffffff;	
}


