/*
 *	Copyright: 2008, Intuit, Inc. All rights reserved.
 *	@version $Revision$
 *
 *	
 *
 */
 
 .linkButtonWindowShade {
  	headerClass:ClassReference('mx.controls.LinkButton');
  	header-style-name: linkButtonStyle;
 
 	drop-shadow-enabled:true;
 	
  	corner-radius:10;
  	border-style:solid;
	color: #ffffff;
	background-color:#646464;
	
	
	background-alpha:1;
}         

.linkButtonStyle {
	corner-radius:10;	
	fill-alphas:1,1;
	padding-left:10;
}

.companyInfoFormStyle {
	font-weight: normal;
	color: #FFFFFF;	
}

.itemValue {
	font-weight:normal;
	padding:-2;
	color: #333333;
}


 .linkButtonWindowShadeX {
  	
  	
 	drop-shadow-enabled:false;
 	
  	corner-radius:0;
  	border-style:none;
  	
	color: #000000;
	background-color:#ffffff;
	
	padding:20;
	background-alpha:1;
}         
.linkButtonWindowShadeY {
	drop-shadow-enabled:false;
 	
  	corner-radius:0;
  	border-style:none;
  	
	color: #000000;
	background-color:#ffffff;
	
	padding:20;
	background-alpha:1;
}

.linkButtonStyleName {
	corner-radius:2;	
	fill-alphas:1,1;
	padding-left:0;
}

.companyInfoFormStyle {
	font-weight: bold;
	color: #000000;	
	padding: 0;
	margin: 0;
}

.mxFormItem {
	padding: 0;	
	margin: 0;
}
