/* ----- Global ----- */
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
	table {border-collapse:collapse;border-spacing:0;}
	fieldset,img {border:0;}
	address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
	ul {list-style:none;}
	caption,th {text-align:left;}
	h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
	q:before,q:after {content:'';}
	abbr,acronym {border:0;}
	a:focus {outline:none}

	*{font-family: Verdana, Arial, sans-serif;color:#505050;}
	html {background:url(/sbweb/common/images/backgrounds/bg-gradient-browser.gif) top repeat-x;overflow:-moz-scrollbars-vertical;overflow-x:auto;}
	body {font-size: 11px;line-height:13px;color:#505050;}
	li, dd, blockquote {margin-left: 40px;}
	p {margin:0 0 10px;padding-left:1px;}
	sup {font-size:9px;padding:0 1px;top:-2px;vertical-align:top;}
	select, textarea, checkbox {font-size:11px;border:solid 1px #ccc;}
	
	.red {color:#dc3c1e;}
	.orange {color:#f0640f;}
	.yellow {color:#f69828;}
	.intuitYellow{color:#fec82a;}
	.green {color:#4e9e19;}
	.blue {color:#365ebf;}
	.gray {color:#505050;}
	.lightGray {color:#c5c5c5;}
	.lime {color:#d2d246;}
	.sky {color:#94b5e0;}
	.white{color:#ffffff;}

/* ----- Layout ----- */
	#mainBody {margin-left:auto;margin-right:auto;width:970px;}
	#mainContent {width:630px;float:left;padding-top:0;margin-top:0;}
	h1{margin-bottom:15px;}
	h2{margin-bottom:15px;}
	h3{margin-bottom:15px;}
	.floatLeft{float:left;}
	.floatRight{float:right;}
	.clear {clear:both;}

/* ----- Fonts ----- */
	.pageTitleA {font-size:26px;line-height:28px;font-weight:bold;}
	.pageTitleAGreen {font-size:26px;line-height:28px;font-weight:bold;color:#4e9e19;}
	.pageTitleABlue {font-size:26px;line-height:28px;font-weight:bold;color:#365ebf;}
	.pageTitleB {font-size:18px;font-weight:lighter;line-height:20px;}
	.ccTitle {font-size:16px;font-weight:bold;}
	.sidebarHeadA {font-size:16px;font-weight:bold;line-height:20px;margin-bottom:15px;}
	.sectionSubhead {font-size:16px;font-weight:bold;margin-bottom:0px;line-height:17px;}
	.ccExpander {width:538px;font-size:12px;font-weight:bold;margin-bottom:0px;color:#505050;}
	.tabHeader{font-size:12px;font-weight:bold;}
	.prodDescript{font-size:12px;color:#365ebf;}	
	.ccPrice{font-size:11px;color:#505050;}
	.midlevelHeader{font-size:12px;font-weight:bold;color:#505050;}
	.hiringSubheadA {font-size:15px;color:#636466;font-weight:bold}
	.sectionText{font-size:12px;line-height:18px;}
	.bodyBold{font-weight:bold;}
	h4{font-size:11px;}
	.bold18{font-size:18px;font-weight:bold;}
	.bold16{font-size:16px;font-weight:bold;}
	.bold14{font-size:14px;font-weight:bold;}
	.bold12{font-size:12px;font-weight:bold;}
	.bold10{font-size:10px;font-weight:bold;}
	#fontColorGray {color:#505050;}
	#fontColorGreen {color:#4e9e19;}
	#fontColorBlue {color:#365ebf;}
	.textOrange {color:#f0640f;}

/* ----- Lists ----- */
	#rightRail ul {padding-left:0px;margin:0px 0px 21px 0px;list-style-image:url(/sbweb/common/images/bullets/chart_circ_blue.gif);}
	#rightRail li {padding-left:0px;margin:0px 0px 0px 12px;}
	.blueBulletedList {list-style-image:url(/sbweb/common/images/bullets/chart_circ_blue.gif);margin:6px 0 0 0;padding:0 0 5px 12px;}
	.blueBulletedList li {margin:0 0 0 3px;padding:0 0 0 0;}
    .blueArrowList {list-style-image:url(/sbweb/common/images/bullets/arrow.gif);margin:6px 0 0 0;padding:0 0 0 12px;}
    .blueArrowList li {margin:0 0 0 3px;padding:0 0 10px 0;}
    
    .grayBulletedList {list-style-image:url(/sbweb/common/images/bullets/chart_circ_gray.gif);margin:6px 0 0 0;padding:0 0 5px 12px;}
	.grayBulletedList li {margin:0 0 0 3px;padding:0 0 0 0;}
	
/* ----- Links ----- */
	.blueLinkA1 {text-decoration:none;color:#365ebf;}
	.blueLinkA1:hover {color:#365ebf;text-decoration:underline;}
	.blueLinkA1:active {color:#365ebf;}
	a {text-decoration:none;color:#365ebf;}
	a:link {color:#365ebf;}
	a:visited {color:#365ebf;}
	a:hover {color:#365ebf;text-decoration:underline;}
	a:active {color:#365ebf;}
	
	.grayLinkA1 {color:#505050;}
	.grayLinkA1Nav {color:#939393;}
	.grayLinkA1:hover {color:#505050;text-decoration:underline;}
	.grayLinkA1:active {color:#505050;}
	a.grayLinkA1:link {color:#505050;}
	a.grayLinkA1:visited {color:#505050;}
	a.grayLinkA1:hover {color:#505050;text-decoration:underline;}
	a.grayLinkA1:active {color:#505050;}
	
	.grayLinkA2 {font-size:10px;color:#505050;}
	.grayLinkA2:hover {color:#505050;text-decoration:underline;}
	.grayLinkA2:active {color:#505050;}
	a.grayLinkA2:link {color:#505050;}
	a.grayLinkA2:visited {color:#505050;}
	a.grayLinkA2:hover {color:#505050;text-decoration:underline;}
	a.grayLinkA2:active {color:#505050;}
	
	.grayLinkA4 {color:#505050;}
	.grayLinkA4Nav {color:#939393;}
	.grayLinkA4:hover {color:#505050;text-decoration:none;}
	.grayLinkA4:active {color:#505050;}
	a.grayLinkA4:link {color:#505050;}
	a.grayLinkA4:visited {color:#505050;}
	a.grayLinkA4:hover {color:#505050;text-decoration:none;}
	a.grayLinkA4:active {color:#505050;}
		 
	.grayLinkB {color:#505050;}
	.grayLinkB:hover {color:#505050;text-decoration:underline;}
	.grayLinkB:active {color:#505050;}
	a.grayLinkB:link {color:#505050;}
	a.grayLinkB:visited {color:#505050;}
	a.grayLinkB:hover {color:#505050;text-decoration:none;}
	a.grayLinkB:active {color:#505050;}
		
	.grayLinkC {color:#505050;text-decoration:none;}
	a.grayLinkC:link {color:#505050;}
	a.grayLinkC:visited {color:#505050;}
	a.grayLinkC:hover {color:#505050;}
	a.grayLinkC:active {color:#505050;}
		
	.grayArrowLink {background:url(/sbweb/common/images/buttons/linkArrowGray.gif) no-repeat 95% 60%;float:left;padding-right:25px;margin:4px 0px;}
	.grayArrowLink a:link {color:#505050;}
	.grayArrowLink a:visited {color:#505050;}
	.grayArrowLink a:hover {color:#505050;text-decoration:underline;}
	.grayArrowLink a:active {color:#505050;}
	
	.grayLinkA3 {font-size:11px;color:#505050;}
	.grayLinkA3:hover {color:#505050;text-decoration:none;}
	.grayLinkA3:active {color:#505050;}
	a.grayLinkA3:link {color:#505050;cursor:pointer;}
	a.grayLinkA3:visited {color:#505050;}
	a.grayLinkA3:hover {color:#365ebf;text-decoration:none;}
	a.grayLinkA3:active {color:#505050;}
	
	.blueArrowLink {background:url(/sbweb/common/images/buttons/linkArrowBlue.gif) no-repeat 95% 60%;float:left;padding-right:25px;margin:4px 0px;}
	.rightRailLearnMore {background:url(/sbweb/common/images/buttons/linkArrowBlue.gif) no-repeat 95% 60%;float:left;padding-right:25px;margin:2px 0px;}

/* ----- Header ----- */
	/* Common */
	.headerBulletContainer {display:block;float:right;margin:10px 10px 0px 10px;}
	.headerIntuitLogo{background:url(/sbweb/common/images/header/logo_bar/intuit_logo.gif) no-repeat center;width:127px;height:60px;float:left;margin:0px 0px 20px 0px;}
	.headerRight{float:right;}
	.headerTopRight{height:38px;}
	.headerBottomRight{}
	#navigationContainer {margin-left:-6px;}
	#supernavHeaderBrow{width:auto;}
	#supernavIntuitLinks{margin-right:16px;}
	
	/* Super-navigation */
	#supernavContainer {position:relative;width:960px;z-index:100001;background-color:#FFFFFF;}
	#supernavLeftEdge{float:left;background:url(/sbweb/common/images/header/background/main-container-shadow-lt.gif) no-repeat;height:156px;width:5px;overflow:visible;position:absolute;left:-1px;}
	#supernavRightEdge{float:right;background:url(/sbweb/common/images/header/background/main-container-shadow-rt.gif) no-repeat;height:156px;width:5px;overflow:visible;position:absolute;left:956px;}
	#supernavSmallBizLogo{float:left;margin:23px 0px 0px 18px;}
	#supernavMasterBrand{margin-right:-14px;}
	#supernavIntuitLogo{float:right;margin:15px 10px 0px 0px;}
	#supernavFragmentContainer{float:left;width:695px;}
	#supernavBrowRight{background:url(/sbweb/common/images/header/background/eyebrow-container-rt.gif) no-repeat;height:28px;width:6px;}
	#supernavBrowLeft{background:url(/sbweb/common/images/header/background/eyebrow-container-lt.gif) no-repeat;height:28px;width:6px;}
	#overlayDynamicNav{position:absolute;top:94px;right:10px;width:250px;z-index:100001;}
	.supernavBrowCenter{float:left;background:url(/sbweb/common/images/header/background/eyebrow-container-middle.gif) repeat-x;height:28px;}
	.supernavHeaderLink{padding:7px 6px 5px 6px;font-size:10px;}
	.supernavBrowDivider{padding:5px 0px 5px 0px;color:#C4C4C4;}
	.supernavDropdownLinkContainer {float:right;position:relative;top:-2px;margin:0px;padding:6px 15px 6px 0px;border:1px solid #ffffff;background:none;top:0px;}
	.supernavDropdownAnchorContainer {float:right;position:relative;top:-1px;}
	.supernavDropdownSectionContainer {padding:10px 0px;border-bottom:1px solid #e3e3e3;}
	.supernavDropdownSectionContentContainer {margin-left:15px;}
	
	/* Country */
	#countryFormContainer {}/*display:none;border:solid 1px #ccc;height:340px;width:205px;position:absolute;z-index:100004;background:url(/sbweb/common/images/header/background/bg_gradient_small.gif) bottom repeat-x;margin:0px;background-color:#FFFFFF;*/
	#countrySelectorContainer{position:absolute;z-index:100004;width:310px;}
	#countrySelectorLeftEdge{float:left;width:4px;height:17px;}
	#countrySelectorFlag{float:left;height:17px;padding-right:4px;}
	#countrySelectorText{float:left;color:#FFFFFF;height:17px;padding-right:4px;}
	#countrySelectedText{color:#FFFFFF;}
	#countrySelectorArrow{float:left;height:17px;}
	#arrowImage{margin-top:0px;}
	#countrySelectorRightEdge{float:left;width:4px;height:17px;}
	#countrySelectorButton{float:left;margin-bottom:1px;cursor:pointer;}
	#countrySelectorMenu{display:none;position:absolute;z-index:100004;}
	#countryMenuTopEdge{height:4px;margin-bottom:0px;_margin-bottom:-10px;}
	#countryMenuBtmEdge{height:4px;_margin-bottom:-10px;}
	#countryMenuBody{background:url(/sbweb/common/images/header/country_selector/usChange-bg-gradient.gif) repeat-x bottom;border-left:1px solid #ccc;border-right:1px solid #ccc;width:307px;height:290px;margin-bottom:0px;margin-top:0px;}
	.countryCountainer{margin:0px 15px 0px 15px;border-bottom:1px solid #ccc;}
	#countryMenuTopLtCnr{background:url(/sbweb/common/images/header/country_selector/usChange-cnr-top-lt.gif) no-repeat;float:left;width:4px;height:4px;}
	#countryMenuTopCtr{float:left;height:4px;width:301px;border-top:solid 1px #ccc;background:#fff;}
	#countryMenuBtmCtr{float:left;height:4px;width:301px;border-bottom:solid 1px #ccc;background:#f0f0f0;}
	#countryMenuTopRtCnr{background:url(/sbweb/common/images/header/country_selector/usChange-cnr-top-rt.gif) no-repeat;float:left;width:4px;height:4px;}
	#countryMenuBtmLtCnr{background:url(/sbweb/common/images/header/country_selector/usChange-cnr-btm-lt.gif) no-repeat;float:left;width:4px;height:4px;}
	#countryMenuBtmRtCnr{background:url(/sbweb/common/images/header/country_selector/usChange-cnr-btm-rt.gif) no-repeat;float:left;width:4px;height:4px;}
	#countryMenuBottomText{margin:0px 0px 15px 0px;background:#f0f0f0;padding:15px 0px 0px 25px;}	
	.countryColumn{float:left;margin:15px 0px 15px 15px;}
	.flagMenuAnchor{}
	.flagSection{margin:5px 0px 5px 0px;}
	.flagImage img{display:inline;}
	
	/* Contact */
	#contactFormContainer {display:none;border:solid 1px #ccc;height:70px;width:210px;position:absolute;background:url(/sbweb/common/images/header/background/bg_gradient_small.gif) bottom repeat-x;margin:0px;z-index:100001;background-color:#FFFFFF;}
	#contactHeaderContentContainer {position:relative;top:-1px;}
	#contactStaticContainer {}
	#contactLinkContainer{margin-right:15px;}
	#contactNumberDropdown {display:none;margin:0px;z-index:100001;}
	#contactContent{font-size:16px;font-weight:bold;}
	#contactUsEstore{float:right;}
	#contactUsIop{margin-top:40px;}
	#contactUsEstore{float:right;padding-left:100px;}
	#contactUsIop{margin-top:40px;}
	#contactUsContainer{margin-top:15px;}
	.contactUsTop{}
	.contactUsBottom{}
	.contactUsQuestions{float:left;font-size:10px;color:#FFFFFF;margin:15px 5px 0px 0px;}
	.contactUsHours{font-size:10px;color:#FFFFFF;font-weight:bold;}
	.contactUsPhone{color:#fec82a;font-weight:bold;}
	.noNavContactUs{border:blue solid 1px;width:200px;}
	#contactContainer{background-image:url(/sbweb/common/images/backgrounds/gradient_slice_03_phone.gif);height:41px;width:252px;margin:9px 0 0 0;#margin:11px 0px 0px -3px;position:relative;left:5px;}
	#phoneNumberIntroContent{font-size:11px;font-family:verdana;color:#ffffff;}
	#phoneNumberIntroContainer{margin-left:28px;padding-top:4px;}
	#hoursContactContent{font-size:11px;font-family:verdana;color:#ffffff;}
	#phoneHoursContainer{margin-left:28px;padding-top:2px;}
	#phoneNumber{font-family:verdana;font-weight:bold;font-size:12px;color:#fec82a;}
	
	/* Entrance Survey */
	#experienceSurveyContainer{position:absolute;z-index:100001;top:157px;right:17px;margin-top:2px;#margin-top:4px;_margin-top:2px;}
	#entranceSurveyImage{}
	#entranceSurveyFormContainer{display:none;width:430px;position:absolute;top:18px;right:0px;}
	#entranceSurveyAnchor{}
	#formSubmit{margin:0px 0px 0px 310px;}
	#formContainer{margin:0px 0px 10px 15px;_margin:10px 0px 10px 15px;padding-top:0px;_padding-top:-30px;}
	.formQuestionContainer{margin:0px 0px 8px 0px;padding-top:3px;}
	.formQuestionContent{font-weight:bold;font-size:14px;line-height:17px;}
	.formChoiceContainer{margin-left:5px;height:19px;}
	.formChoiceRadio{display:block;float:left;positon:relative;top:0px;left:0px;height:12px;}
	.formChoiceContent{display:block;float:left;position:relative;padding-left:5px;top:-1px;left:0px;}
	.formDescriptionContainer{padding:3px 0px 0px 10px;}
	#closeSurvey{float:right;margin:0px 20px 0px 0px;_margin:0px 20px 0px 0px;}
	#submitButton{margin-top:0px;#margin-top:-10px;_margin-top:0px;}
	#previewHeader{width:675px;height:180px;}
	#previewTitleContainer{position:relative;left:15px;top:8px;}
	#previewTitleContent{font-size:16px;font-weight:bold;}
	#previewInputButton{margin: 20px 0px 20px 15px;}
	.previewContentContainer{margin:20px 20px 10px 15px;width:570px;}
	.previewHeaderFooter{}
	#exitLeft{float:left;width:280px;}
	#exitRight{position:absolute;top:80px;left:410px;}
	a.white{color:#FFF;text-decoration:none;}
	a.white:hover{color:#FFF;}
	a.white:visited{color:#FFF;text-decoration:none;}
	.textbox{border:#666 solid 1px;background-color:#FFF;padding:4px;}
	.surveyFormTopEdge{height:6px;}
	.surveyFormBottomEdge{height:6px;}
	.surveyButtonLeftEdge{background:url(/sbweb/common/images/header/survey/quick-survey-tab-lt.gif) no-repeat;float:right;width:5px;height:22px;}
	.surveyButtonRightEdge{background:url(/sbweb/common/images/header/survey/quick-survey-tab-rt.gif) no-repeat;float:right;width:5px;height:22px;}
	.surveyButtonCenter{background:url(/sbweb/common/images/header/survey/quick-survey-tab-center.gif) repeat-x;float:right;height:22px;padding-top:1px;}
	.surveyFormTopLeftCorner{float:left;background:url(/sbweb/common/images/header/survey/quick-survey-cnr-top-lt.gif) no-repeat;height:6px;width:6px;}
	.surveyFormTopCenter{border-top:1px solid #dcdcdc;float:left;width:418px;height:6px;}
	.surveyFormTopRightCorner{float:left;background:url(/sbweb/common/images/header/survey/quick-survey-cnr-top-rt.gif) no-repeat;height:6px;width:6px;}
	.surveyFormBottomLeftCorner{float:left;background:url(/sbweb/common/images/header/survey/quick-survey-cnr-btm-lt.gif) no-repeat;height:6px;width:6px;}
	.surveyFormBottomCenter{border-bottom:1px solid #dcdcdc;float:left;width:418px;height:6px;background:#E8E8E8;}
	.surveyFormBottomRightCorner{float:left;background:url(/sbweb/common/images/header/survey/quick-survey-cnr-btm-rt.gif) no-repeat;height:6px;width:6px;}
	.surveyFormBody{border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;background:url(/sbweb/common/images/header/background/bg_gradient_large.gif) repeat-x bottom;}
	
	
	/* Search */
	#headerSearchBox{background:url(/sbweb/common/images/header/search/search-field.gif) no-repeat top left;margin:3px 0px 0px 3px;height:22px;width:176px;}
	#headerSearchTable {padding:0px;margin:0px;}
	#headerSearchForm {padding:0px;margin:0px;position:relative;top:3px;left:10px;}
	#headerSearchIcon {position:relative;left:2px;}
	#headerSearchInput {position:relative;border:0px;height:15px;left:1px;top:2px;width:140px;font-size:10px;color:#999999}
	
	/* Chat */
	#chatButton {float:left;position:relative;top:20px;left:375px;}
	#chatContainer {float:right;}
	#signInContainer {float:right;padding-top:6px;}
	#logoContainer {float:left;}
	
	/* Sign In */
	#signInContainer{cursor:pointer;margin:-9px 7px 0px 0px;width:63px;background:url(/sbweb/common/images/header/sign_in/btn-signIn.gif) no-repeat bottom left;line-height:13px;}
	#signInBar{margin:0 0 8px 0;width:63px;}
	#signInLink{margin:3px 0px 0px 4px;color:#2a72e0;}
	#menuSignInDropDown{display:none;position:absolute;top:31px;right:20px;z-index:100003;width:210px;float:right;margin:0px 0px 0px 0px;line-height:13px;}
	#menuSignInLinksContainer{background:url(/sbweb/common/images/header/sign_in/signIn-body-gradient.gif) repeat-x bottom;width:210px;height:178px;margin-top:0px;margin-bottom:0px;}
	.topEdgeContainer{height:6px;_margin-bottom:-9px;}
	.bottomEdgeContainer{height:6px;}
	.menuTopEdgeLeft{background:url(/sbweb/common/images/header/sign_in/signIn-cnr-top-lt.gif) no-repeat;width:6px;height:6px;float:left;}
	.menuTopEdgeMiddle{background:url(/sbweb/common/images/header/sign_in/signIn-center-top.gif) repeat-x;width:198px;height:6px;float:left;}
	.menuTopEdgeRight{background:url(/sbweb/common/images/header/sign_in/signIn-cnr-top-rt.gif) no-repeat;width:6px;height:6px;float:left;}
	.menuSignInLinks{text-align:right;border-left:1px solid #E5E5E5;border-right:1px solid #E5E5E5;padding:4px 15px 7px 15px;font-weight:normal;margin-top:0px;color:#DCDEE0;}
	.menuSignInDivider{text-align:right;height:1px;margin:3px 10px 4px 10px;border-top:1px solid #dcdde1;border-bottom:1px solid #fff;_margin-bottom:-4px;_border-bottom-width:0px;}
	.menuBottomEdgeLeft{background:url(/sbweb/common/images/header/sign_in/signIn-cnr-btm-lt.gif) no-repeat;width:6px;height:6px;float:left;}
	.menuBottomEdgeMiddle{background:url(/sbweb/common/images/header/sign_in/signIn-center-btm.gif) repeat-x;width:198px;height:6px;float:left;}
	.menuBottomEdgeRight{background:url(/sbweb/common/images/header/sign_in/signIn-cnr-btm-rt.gif) no-repeat;width:6px;height:6px;float:left;}
	
	/* Navigation */
	object {display:block;outline:none;}
	#navContainer {height:81px;width:970px;}
	#navFlashContainer {position:relative;z-index:0;height:575px;width:970px;top:0;margin-left:5px;}	
	.contentFlashContainer {position:relative;z-index:1;top:0px;left:-2px;height:100%;width:100%;}
	.navRobotSectionContainer {float:left;border-right:1px solid #050505;height:380px;margin-bottom:5px;padding:0px 7px;}
	.navRobotLevel1 {font-size:10px;}
	.navRobotLevel2 {margin-left:5px;font-size:9px;}
	.navRobotLevel3 {margin-left:10px;font-size:8px;}

	/* Sub-navigation */
	#subnavContainer {position:relative;margin:-484px 0px 7px 0px;width:970px;height:16px;z-index:1;padding-left:10px;}
	#breadCrumbs {float:left;margin-left:-5px;}
	#breadCrumbs ul {list-style:none;}
	#breadCrumbs li {float:left;list-style-type:none;margin-left:5px;}
	
	/* Suggestions */
	#suggestionsForm {width:550px;font-family:Verdana;color:#505050;font-size:11px;margin-left:20px;margin-top:5px;}
	#suggestionsForm input, #suggestionsForm select, #suggestionsForm textarea, #suggestionsForm checkbox {font-size:11px;border:solid 1px #ccc;}
	#suggestionsIntro {width:390px;float:left;}
	#suggestionsImage {width:160px;margin-top:10px;float:right;}
	#suggestionsTellUs{width:540px;}
	.suggestionsSpacing {margin-top:15px;}		
	#suggestionsCall {float:right;}
	#suggestionsSupport{margin-top:15px;}

/* ----- Footer ----- */
	#footerContainer {width:100%;margin:10px 0px 0px -2px;}
	#footerTopEdge{margin:0px 0px 0px 0px;}
	#footerBottomEdge{margin:-5px 0px 0px 0px;}
	#footerContentContainer {background-color:#F3F8FF;margin:0px 0px 0px 0px;width:950px;}
	#footerLinkContainer {padding:22px 0px 22px 0px;margin-bottom:5px;}
	#footerLinkContainer span {color:#999999}
	#footerLinkContainer a {color:#999999}
	#footerLinkContainer a:hover {color:#999999}
	.footerSubcontent {font-size:9px;}
	.infoTag{color:#FFF}
	#footerFootnoteContainer {margin-left:10px;width:934px;margin-top:5px;}
	#footerWhoAreYouContainer{margin:0px 30px 11px 30px;}
	#footerCorporateContainer{margin:0px 30px 20px 30px;}
	#footerCopyrightContainer{margin:0px 30px 0px 30px;}
	#footerQuickBooksContainer{margin:0px 30px 8px 30px;line-height:20px;}
	#footerPayrollContainer{margin:0px 30px 11px 30px;}
	#footerPaymentsContainer{margin:0px 30px 11px 30px;}
	#footerWebsitesSvcContainer{margin:0px 30px 11px 30px;}
	#copyrightContent{float:left;}
	#trustEContent{float:right;}
	#footerTopEdge{_margin-bottom:-15px;}
	#footerBottomEdge{_margin-top:0px;#margin-top:0px;}
	.footerTopEdgeLeftCorner{background:url(/sbweb/common/images/footer/background/cnr-topLt.gif) no-repeat;width:5px;height:5px;float:left;line-height:0px;font-size:0px;}
	.footerTopEdgeRightCorner{background:url(/sbweb/common/images/footer/background/cnr-topRt.gif) no-repeat;width:5px;height:5px;float:left;line-height:0px;font-size:0px;}
	.footerEdgeCenter{background-color:#F3F8FF;float:left;width:940px;height:5px;line-height:0px;font-size:0px;}
	.footerBottomEdgeLeftCorner{background:url(/sbweb/common/images/footer/background/cnr-btmLt.gif) no-repeat;width:5px;height:5px;float:left;}
	.footerBottomEdgeRightCorner{background:url(/sbweb/common/images/footer/background/cnr-btmRt.gif) no-repeat;width:5px;height:5px;float:left;}
	.footerRowTitle{float:left;font-weight:bold;margin:0px 7px 0px 0px;}
	.footerRowLinkContainer{float:left;width:750px;}
	.footerRowLink{float:left;color:#999999;}
	.footerRowDivider{margin:0px 6px 0px 6px;float:left;color:#999999;}
	
/* ----- SEO Footer ----- */
	#qbSeoFooter {position:relative;top:10px;left:0px;height:160px;_margin:20px 0 0;}
	#qbSeoFooter a {color:#999}
	#qbSeoFooter a:hover {color:#999}
	.footerCategory {float:left;color:#999;width:200px;padding-top:10px;}
	.footerCategory div {font-weight:bold;color:#999;}
	.footerCategoryList {margin:6px 0 0;padding:0 0 5px;color:#999;font-size:10px;}
	.footerCategoryList a {margin:0;padding:0;font-size:10px;color:#999;font-weight:normal;}
	
/* ----- Footnotes ----- */
	.footnotesHeaderContent {cursor:pointer;color:#365ebf;text-decoration:underline;}
	.footnote {margin-top:5px;}
	.footnotesContainer{display:none;}
	.footnoteContent {font-size:10px;}

/* ----- Bazaar Voice ----- */
	#bvIntroContainer {height:60px;}
	.BVRatingSummaryLinks{display:none;}
	#NoReviewLinkContainer{margin-top:5px;display:none;}
	#NoReviewImageContainer{float:left;}
	#NoReviewTextContainer{float:left;margin:4px 0px 0px 25px;}
	#LinkContainer{margin-top:5px;display:none;}
	#ReadReviewContainer{float:left;}
	#WriteReviewContainer{float:left;margin-left:25px;}
	#PrintReviewContainer{margin-top:10px;}
	#bvIntroContainer {padding:10px 0 20px;}
	.BVRatingSummaryBuyAgain {display:none;}
	.BVRatingSummarySecondaryRatings {display:none;}
	.BVRatingSummaryRatingsHistogram {display:none;}

/* ----- Commerce Display Tabs ----- */
	#tabbedCD {margin-top:10px;}
	.cdTabList div {font-size:11px;color:#909090;list-style-type:none;text-align:center;background:url(/sbweb/common/images/tabs/commerce_tabs/tab_sml_off.gif) no-repeat bottom;width:62px;margin-left:0px;padding:6px 5px 2px 5px;float:left;}
	.cdTabList a {display:block;width:62px;height:15px;}
	.cdTabList .activeTab {color:#365ebf;background:url(/sbweb/common/images/tabs/commerce_tabs/tab_sml_on.gif) no-repeat;border-bottom:1px #fff solid;margin-top:2px;}
	.cdTabList a:link, .cdTabList a:visited, .cdTabList a:hover {color:#909090;text-decoration:none;height:15px;}
	.activeTab a:link, .activeTab a:visited, .activeTab a:hover {color:#2e2e2e;text-decoration:none;height:14px;}
	.tabContainer {background:url(/sbweb/common/images/tabs/commerce_tabs/mini_tab_line.gif) no-repeat right bottom;width:330px;height:23px;}
	.tabContainer2 {background:url(/sbweb/common/images/tabs/commerce_tabs/mini_tab_line_2.gif) no-repeat right bottom;width:330px;height:23px;}
	.tabContainer3 {background:url(/sbweb/common/images/tabs/commerce_tabs/mini_tab_line_3.gif) no-repeat right bottom;width:330px;height:23px;}
	.tabContainer4 {background:url(/sbweb/common/images/tabs/commerce_tabs/mini_tab_line_4.gif) no-repeat right bottom;width:330px;height:23px;}
	.tabPanel {display:none;padding:8px 0 0 10px;}

/* ----- Common Tabs ----- */
	#overviewTop {background:url(/sbweb/common/images/borders/product_tab_frame_top.gif) no-repeat bottom;height:6px;width:590px;padding-bottom:0px;}
	#overviewBorder {width:548px;padding:20px;border-right:solid #ccc 1px;border-left:solid #ccc 1px;}
	#overviewBottom {background:url(/sbweb/common/images/borders/product_tab_frame_bot.gif) no-repeat;height:6px;width:590px;padding-bottom:20px;}
	.stepsImage {margin-bottom:15px;}
	
/* Round Corner Tables inside Tab */
	#rcTable {width:100%;border-collapse:collapse;}
	#rcTable caption {padding:0 0 15px;text-align:left;}
	#rcTable thead th {height:5px;border-top:1px solid #ccc;}
	#rcTable thead th.rcCenter {border-right:1px solid #ccc;}
	#rcTable thead td.rcLeft {width:5px;height:5px;background:url(/sbweb/common/images/borders/table_corners/corner_top_lft.gif) no-repeat 0 0;}
	#rcTable thead td.rcRight {width:5px;height:5px;background:url(/sbweb/common/images/borders/table_corners/corner_top_rght.gif) no-repeat 100% 0;}
	#rcTable tbody td {padding:15px;border-top:1px solid #ccc;}
	#rcTable tbody td.rcLeft {padding:0;border-left:1px solid #ccc;}
	#rcTable tbody td.rcRight {padding:0;border-right:1px solid #ccc;}
	#rcTable tbody td.bodyBold, #rcTable tbody td.rcCenter {border-right:1px solid #ccc;}
	#rcTable tbody tr.rcTableRow1 td {border-top:0;}
	#rcTable tfoot th {height:5px;border-bottom:1px solid #ccc;}
	#rcTable tfoot th.rcCenter {border-right:1px solid #ccc;}
	#rcTable tfoot td.rcLeft {width:5px;height:5px;background:url(/sbweb/common/images/borders/table_corners/corner_btm_lft.gif) no-repeat 0 0;}
	#rcTable tfoot td.rcRight {width:5px;height:5px;background:url(/sbweb/common/images/borders/table_corners/corner_btm_rght.gif) no-repeat 100% 0;}
	#rcTable td ol {margin-left:-20px;}
	
	#rcTableWithHeader {width:100%;border-collapse:collapse;}
	#rcTableWithHeader caption {padding:0 0 15px;text-align:left;}
	#rcTableWithHeader thead th {height:5px;background-repeat:repeat-x;background-position:0 0;}
	#rcTableWithHeader thead th.rcCenter {border-right:1px solid #ccc;}
	#rcTableWithHeader thead td.rcLeft {width:5px;height:5px;background-repeat:no-repeat;background-position:0 0;}
	#rcTableWithHeader thead td.rcRight {width:5px;height:5px;background-repeat:no-repeat;background-position:100% 0;}
	#rcTableWithHeader tbody th {padding:0 10px;height:31px;border-top:0;text-align:left;vertical-align:middle;background-repeat:repeat-x;background-position:0 -5px;}
	#rcTableWithHeader tbody th.rcCenter {border-right:1px solid #ccc;}
	#rcTableWithHeader tbody th.rcLeft {padding:0;border-left:1px solid #ccc;}
	#rcTableWithHeader tbody th.rcRight {padding:0;border-right:1px solid #ccc;}
	#rcTableWithHeader tbody td {padding:15px;border-top:1px solid #ccc;}
	#rcTableWithHeader tbody td.rcCenter {border-right:1px solid #ccc;}
	#rcTableWithHeader tbody td.rcLeft {padding:0;border-left:1px solid #ccc;}
	#rcTableWithHeader tbody td.rcRight {padding:0;border-right:1px solid #ccc;}
	#rcTableWithHeader tfoot th {height:5px;border-bottom:1px solid #ccc;}
	#rcTableWithHeader tfoot th.rcCenter {border-right:1px solid #ccc;}
	#rcTableWithHeader tfoot td.rcLeft {width:5px;height:5px;background:url(/sbweb/common/images/borders/table_corners/corner_btm_lft.gif) no-repeat 0 0;}
	#rcTableWithHeader tfoot td.rcRight {width:5px;height:5px;background:url(/sbweb/common/images/borders/table_corners/corner_btm_rght.gif) no-repeat 100% 0;}

	#chartTabTable {width:100%;border-collapse:collapse;}
	#chartTabTable thead th {width:81px;height:5px;background:url(/sbweb/common/images/borders/table_corners/chart_tab_top_81.gif) no-repeat 0 0;text-align:center;}
	#chartTabTable thead td {text-align:right;}
	#chartTabTable tbody th {padding:3px 25px;background:#ddd;border:1px solid #ccc;font-weight:bold;}
	#chartTabTable tbody td.chartTabFeature {padding:7px 25px;border-bottom:1px solid #ccc;}
	#chartTabTable tbody td.chartTabCell {padding:7px 0;border-bottom:1px solid #ccc;background:url(/sbweb/common/images/borders/table_corners/chart_tab_cell_81.gif) repeat-y 0 0;font-size:11px;text-align:center;}
	#chartTabTable tbody td.chartTabCell a {font-weight:bold;font-size:11px;}
	#chartTabTable tbody td.chartTabSpacer {border-bottom:1px solid #ccc;}
	#chartTabTable tfoot th {width:81px;height:5px;background:url(/sbweb/common/images/borders/table_corners/chart_tab_bottom_81.gif) no-repeat 0 100%;}
	#chartTabTable tfoot td.chartTabFeature {padding:7px 25px;}
	#chartTabTable tfoot td.chartTabCell {background:url(/sbweb/common/images/borders/table_corners/chart_tab_cell_81.gif) repeat-y 0 0;text-align:center;}

/* ----- png Styles ----- */
	#categorySave50PromoImage {background-repeat:no-repeat;width:81px;height:80px;}
	html>body #categorySave50PromoImage {background-image: url(/sbweb/common/images/promotions/w78/save50_78d.png);}
	* html #categorySave50PromoImage {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sbweb/common/images/promotions/w78/save50_78d.png',sizingMethod='scale');}
	#categorySave30PromoImage {background-repeat:no-repeat;width:81px;height:80px;}
	html>body #categorySave30PromoImage {background-image: url(/sbweb/common/images/promotions/w78/save_upto_30off_78d.png);}
	* html #categorySave30PromoImage {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sbweb/common/images/promotions/w78/save_upto_30off_78d.png',sizingMethod='scale');}
	#categorySave20PromoImage {background-repeat:no-repeat;width:81px;height:80px;}
	html>body #categorySave20PromoImage {background-image: url(/sbweb/common/images/promotions/w78/20_chip.png);}
	* html #categorySave20PromoImage {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sbweb/common/images/promotions/w78/20_chip.png',sizingMethod='scale');}
	#categorySave100PromoImage {background-repeat:no-repeat;width:81px;height:80px;}
	html>body #categorySave100PromoImage {background-image: url(/sbweb/common/images/promotions/w78/save100_78d.png);}
	* html #categorySave100PromoImage {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sbweb/common/images/promotions/w78/save100_78d.png',sizingMethod='scale');}
	#category3monthsPromoImage {background-repeat:no-repeat;width:81px;height:80px;}
	html>body #category3monthsPromoImage {background-image: url(/sbweb/common/images/promotions/w78/3mosFree_78d.png);}
	* html #category3monthsPromoImage {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sbweb/common/images/promotions/w78/3mosFree_78d.png',sizingMethod='scale');}
	.superCategoryProductBoxShot {float:left;width:130px;height:100px;position:relative;}
	.productBoxShotImage {position:absolute;margin:0px 0px 0px 20px;}
	#superCategorySave50PromoImage {background-repeat:no-repeat;width:55px;height:55px;z-index:10;}
	html>body #superCategorySave50PromoImage {background-image: url(/sbweb/common/images/promotions/w53/save50_53d.png);}
	* html #superCategorySave50PromoImage {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sbweb/common/images/promotions/w53/save50_53d.png',sizingMethod='scale');}
	#superCategorySaveUpTo100PromoImage{background-repeat:no-repeat;width:55px;height:55px;z-index:10;}
	html>body #superCategorySaveUpTo100PromoImage {background-image: url(/sbweb/common/images/promotions/w53/save_upto_100_53d.png);}
	* html #superCategorySaveUpTo100PromoImage {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sbweb/common/images/promotions/w53/save_upto_100_53d.png',sizingMethod='scale');}
	#superCategory3MonthsFreePromoImage {background-repeat:no-repeat;width:55px;height:55px;}
	html>body #superCategory3MonthsFreePromoImage {background-image: url(/sbweb/common/images/promotions/w53/3mosFree_53d.png);}
	* html #superCategory3MonthsFreePromoImage {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sbweb/common/images/promotions/w53/3mosFree_53d.png',sizingMethod='scale');}
	.superCategoryBoxShotPromo {position:relative;top:54px;left:65px;z-index:10;	}
	.categoryBoxContent {padding:0px;}

/* ----- Section Styles ----- */
	.sectionHeader {background:url(/sbweb/common/images/bullets/expander_open.gif) no-repeat 98% 50%;padding:5px 8px 5px 10px;border:solid 1px #ccc;background-color:#e6e6e6;margin:15px 0px 20px 0px;}
	.sectionHeaderA {font-size:16px;font-weight:bold;color:#505050;line-height:18px;}
	.sectionHeaderB {font-size:14px;font-weight:bold;line-height:18px;color:#505050;}
	.sectionHeaderC {font-size:11px;font-weight:bold;color:#365ebf;}
	.select {background:url(/sbweb/common/images/bullets/expander_close.gif) no-repeat 98% 50%;padding:5px 8px 5px 10px;border:solid 1px #ccc;background-color:#e6e6e6;margin:15px 0px 20px 0px;}
	.sectionItem {width:558px;}
	.sectionItemContent {width:450px;padding-left:0px;float:left;}
	.sectionItemIcon {width:85px;float:left;text-align:center;margin-left:10px;}
	.sectionItemSeparator {height:1px;width:558px;border-bottom:solid 1px #ccc;margin:15px 0;}
	.sectionVertItemSeparator {float:left;background:url(/sbweb/common/images/borders/263ht_vert_line_grad.gif) no-repeat bottom center;height:450px;width:1px;padding:0px 10px 0px 10px;}
	.sectionVertItemSeparatorLong {float:left;background:url(/sbweb/common/images/borders/403ht_vert_line_grad_divider.gif) no-repeat bottom center;height:450px;width:1px;padding:0px 10px 0px 10px;}
	.sectionHeader {cursor:pointer;}
	#expandingContent .sectionContent {display:none;width:558px;}
	#expandingContent .sectionContentOpen {display:block;width:558px;}
	.viewScreenShot {float:right;}
	.watchVideoLink {background:url(/sbweb/common/images/icons/icon_play.gif) no-repeat left;padding-left:20px;}

/* ----- One Row - Multi Column ---- */
	#oneColTopRowContent {padding:40px 40px 0px 40px;}
	.productTopRowSectionContent {float:left;width:240px;margin:0px 0px 0px 10px;}
	.productItemContent {height:210px;}
	.productSubheading {margin:5px 0px 0px 0px;}
	.productListElements {margin:15px 0px 0px 0px;height:95px;}
	.productPriceDisplay {margin:20px 0px 0px 0px;font-weight:bold;}
	.buttonLearnMore {padding:25px 0px 0px 0px;}
	.blueText {color:#365ebf;}
	.productFeaturesList ul {margin-left:-15px;}
	.productFeature {margin-bottom:20px;}
	.featureIcon {float:left;width:30px;}
	.featureDescription {float:left;width:430px;}
	#categoryIntroContent {padding-top:1px;}
	.categoryCall {font-size:11px;font-weight:bold;}
	.categoryCallStrike {font-weight:bold;text-decoration:line-through;}
	.categoryCallStrike span {color:#888888;}
	.categoryCallSale {font-weight:bold;color:#f69828;}
	
/* ----- Product Boxes ----- */
	#productFlashContainer {position:relative;z-index:10000};
	#productFrameTop {background:url(/sbweb/common/images/borders/product_frame_top.gif) no-repeat;width:630px;height:45px;}
	#productFrameMiddle {padding:0px 20px 20px 20px;border-left:1px solid #ccc;border-right:1px solid #ccc;width:588px;}
	#productFrameBottom {background:url(/sbweb/common/images/borders/product_frame_bot.gif) no-repeat;width:630px;height:8px;}

/* ----- Product Intro ----- */
	#productIntroContent {width:362px;min-height:250px;_height:250px;float:left;padding-top:0px;}
	#productIntroBoxshot {padding-top:15px;float:right;z-index:0;_margin-bottom:-80px;}
	#messIntro {display:block;}
	.messProductNameSmall {color:#999999;font-size:12px;margin-bottom:4px;}
	.messProductName {margin-bottom:5px;}
	.messProductIntroBullets {margin-left:5px;margin-bottom:5px;}
	.pageTitleABlueB {font-weight:normal;font-size:22px;line-height:26px;color:#365ebf;margin-bottom:0px;}
	.productIntroBoxshotImage {float:left;z-index:0;}
	.productIntroBoxShotPromo {position:relative;top:115px;*top:-85px;left:90px;z-index:1;}
	.productIntroBoxShotPromoImage {float:left;padding:110px 0 0 100px;position:absolute;z-index:1;}
	#productInfoLinks {margin:30px 0px 20px 15px;width:330px;height:40px;}
	.productInfoLink {background:url(/sbweb/common/images/buttons/linkArrowGray.gif) no-repeat 90% 50%;float:left;padding-right:30px;}
	#commerceDisplay {width:330px;margin:0 0 10px 0;}
	.commerceLineDisplay {margin-bottom:15px;}
	.commerceRadioButton {float:left;}
	.commerceUsers {float:left;margin-left:5px;clear:right;}
	.commercePricing {font-size:17px;font-weight:bold;color:#505050;font-family: Verdana;float:left;margin-left:20px;}
	.commercePrice {font-size:16px;font-weight:bold;}
	.commercePricingStrike {text-decoration:line-through;font-size:16px;font-weight:bold;margin-left:5px;float:left;}
	.commercePricingStrike span {color:#888888;}
	.pricingStrikeUnlock {text-decoration:line-through;}
	.pricingStrikeUnlock span {color:#888888;}
	.commercePricingSale {font-size:16px;font-weight:bold;color:#f38721;margin-left:10px;float:left;}
	.pricingStrike {text-decoration:line-through;font-size:12px;font-weight:bold;color:#505050;padding-left:20px;}
	.pricingStrike span {color:#757575;font-weight: bold;font-size: 12px;font-family: Verdana;}
	.pricingSale {font-size:17px;font-weight:bold;color:#f38721;font-family: Verdana;margin-left:20px;}
	.commerceBuyNowButton {margin-top:20px;}
	#commerceDisplay select {border:1px solid #ccc;width:110px;}
	#chartList {width:200px;border:solid 1px #ccc;}

/* ---- Commerce Display ---- */
	#commerceDisplayContainer {margin:15px 0;padding:0;border:0px solid #990000}
	#commerceDisplayDropdown {float:left;width:115px;}
	.commerceDisplayProductDropdown {font-size:10px;color:#333;font-weight:bold;}
	#commerceDisplayDownloadInfo {float:left;width:20px;padding-top:12px;}
	.commerceDisplayBackContainer {float:left;margin-bottom:12px;padding-top:5px;}
	.commerceDisplayBuyNowContainer {margin-left:21px;float:left;padding-top:5px;}

/* ----- Product Discovery ----- */
	#productDiscovery {margin:15px 0 20px;clear:both;}	
	#productDiscovery a.productDiscovery {float:left;display:block;padding:11px 20px 9px 35px;height:10px;background-position:0 0;background-repeat:no-repeat;}
	#productDiscovery a.productDiscovery:link, #productDiscovery a.productDiscovery:visited, #productDiscovery a.productDiscovery:active {color:#737373;}	
	#productDiscovery a.productDiscovery:hover {background-position:0 -30px;color:#505050;text-decoration:underline;}	
	#productDiscovery a.pdCalculator {background-image:url(/sbweb/common/images/icons/icon_pd_calculator.gif);}
	#productDiscovery a.pdCompare1 {background-image:url(/sbweb/common/images/icons/icon_pd_compare1.gif);}
	#productDiscovery a.pdCompare2 {background-image:url(/sbweb/common/images/icons/icon_pd_compare2.gif);}
	#productDiscovery a.pdFree {background-image:url(/sbweb/common/images/icons/icon_pd_free.gif);}
	#productDiscovery a.pdNew {background-image:url(/sbweb/common/images/icons/icon_pd_new.gif);}
	#productDiscovery a.pdScreen {background-image:url(/sbweb/common/images/icons/icon_pd_screen.gif);}
	#productDiscovery a.pdVs {background-image:url(/sbweb/common/images/icons/icon_pd_vs.gif);}
	#productDiscovery a.pdDollar {background-image:url(/sbweb/common/images/icons/icons_calculate.gif);}
	#productDiscovery select {color:#505050;}

/* ----- 2 Column Frames ----- */
	#twoColMiddleFrameTop {background:url(/sbweb/common/images/borders/product_frame_top-01.gif) no-repeat;width:630px;height:19px;padding:0px;margin:0px;}
	#twoColMiddleFrameMiddle {padding:0px 20px 0px 20px;_padding:0px 20px 0px 18px;background:url(/sbweb/common/images/borders/product_frame_top-02.gif) no-repeat top;margin:0px;width:588px;_width:590px;_height:590px;min-height:590px;border-left:1px solid #ccc;border-right:1px solid #ccc;}
	#twoColMiddleFrameBottom {background:url(/sbweb/common/images/borders/product_frame_bot.gif) no-repeat;width:630px;height:8px;}
	#twoColFrameTable {padding:0px;margin:0px;border-collapse:collapse;}
	
	.twoColSecondaryRowFrameTop {background:url(/sbweb/common/images/borders/product_frame_top_clear.gif) no-repeat;width:630px;height:7px;padding:0px;margin:0px;}
	.twoColSecondaryRowFrameMiddle {padding:5px 20px 10px 20px;_padding:0px 20px 0px 18px;margin:0px;width:588px;_width:590px;_height:100px;min-height:100px;border-left:1px solid #ccc;border-right:1px solid #ccc;}
	.twoColSecondaryRowFrameBottom {background:url(/sbweb/common/images/borders/product_frame_bot.gif) no-repeat;width:630px;height:8px;}

/* ----- Right Rail ----- */
	#rightRail {width:310px;float:left;margin-left:0px;}
	.rightRailItem {padding:0px 20px 20px 20px;border-bottom:solid 1px #ccc;width:270px;margin:0px;margin-bottom:20px;}
	.rightRailItemBottom {padding:0px 20px 10px 20px;_padding-bottom:0px;width:270px;margin:0px;}
	.rightRailContent {width:160px;float:left;padding:1px;}
	.rightRailContentNoIcon {width:270px;float:left;padding:1px;}
	.rightRailIcon {float:left;width:76px;margin-left:10px;}
	.rightRailTextWithImage{width:195px;float:left;}
	.rightRailImage {float:right;width:70px;}
	.rightRailTextOnly {width:270px;float:left;}
	#rightRailTop {background:url(/sbweb/common/images/borders/sidebar_frame_top.gif) no-repeat bottom;width:310px;height:19px;}
	#rightRailBottom {background:url(/sbweb/common/images/borders/sidebar_frame_bot.gif) no-repeat top;width:310px;height:8px;}
	#rightRailCell {background:url(/sbweb/common/images/borders/sidebar_frame_middle_bg.gif) repeat-y;}
	
/* ----- 1Col Boxes ----- */
	#oneColFrameTop {background:url(/sbweb/common/images/borders/fullwidth_frame_top.gif) no-repeat;width:950px;height:30px;}
	#oneColFrameMiddle {padding:0px 20px 20px 20px;border-left:1px solid #ccc;border-right:1px solid #ccc;min-height:200px;width:908px;}
	#oneColFrameBottom {background:url(/sbweb/common/images/borders/fullwidth_frame_bot.gif) no-repeat;width:950px;height:8px;}
	#oneColTwoRowFrameTop {background:url(/sbweb/common/images/borders/fullwidth_frame_top.gif) no-repeat;width:950px;height:15px;}
	#oneColTwoRowFrameMiddle {padding:0px 20px 20px 20px;border-left:1px solid #ccc;border-right:1px solid #ccc;background-color:#F8F8F8;min-height:200px;width:908px;}
	#oneColTwoRowFrameBottom {background:url(/sbweb/common/images/borders/fullwidth_frame_graybg_bot.gif) no-repeat;width:950px;height:8px;}
	#oneColTwoRowSecondaryContent {padding:15px 0px 0px 0px;}
	
/* ----- Thickbox ----- */
	*{padding: 0; margin: 0;}
	#TB_window {color:#505050;font: 12px/15px Verdana, Arial, sans-serif;}
	#TB_secondLine {color:#505050;font: 10px/15px Verdana, Arial, sans-serif;}
	#TB_window a:link {color: #000000;}
	#TB_window a:visited {color: #000000;}
	#TB_window a:hover {color: #666666;}
	#TB_window a:active {color: #666666;}
	#TB_window a:focus {color: #666666;}
	#TB_overlay {position: fixed;z-index:100;top: 0px;left: 0px;height:100%;width:100%;}
	.TB_overlayMacFFBGHack {background: url(/images/macFFBgHack.png) repeat;}
	.TB_overlayBG {background-color:#000;filter:alpha(opacity=25);-moz-opacity: 0.25;opacity: 0.25;}
	* html #TB_overlay { /* ie6 hack */
	     position: absolute;
	     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
	}
	#TB_window {position: fixed;background: #ffffff;z-index: 100001;color:#000000;display:none;border: 2px solid #525252;text-align:left;top:50%;left:50%;}
	* html #TB_window { /* ie6 hack */
		position: absolute;
		margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
	}
	#TB_window img#TB_Image {display:block;margin: 15px 0 0 15px;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;border-top: 1px solid #666;border-left: 1px solid #666;}
	#TB_caption {height:25px;padding:10px 30px 10px 15px;float:left;font-weight:bold;font-size:18px;color:#000000;}
	#TB_closeWindow {height:25px;padding:11px 25px 10px 0;float:right;}
	#TB_closeAjaxWindow {padding:7px 10px 5px 0;margin-bottom:1px;text-align:right;float:right;}
	#TB_ajaxWindowTitle {float:left;padding:5px 0 5px 10px;margin-bottom:1px;font-size:16px;font-weight:bold;color:#000000;}
	#TB_title {background-color:#e2e2e2;height:27px;}
	#TB_ajaxContent {clear:both;padding:2px 15px 15px 15px;overflow:auto;text-align:left;line-height:1.4em;}
	#TB_ajaxContent.TB_modal {padding:15px;}
	#TB_ajaxContent p {padding:5px 0px 5px 0px;}
	#TB_load {position: fixed;display:none;height:13px;width:208px;z-index:103;top: 50%;left: 50%;
		margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
	}
	* html #TB_load { /* ie6 hack */
		position: absolute;
		margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
	}
	#TB_HideSelect {z-index:99;position:fixed;top: 0;left: 0;background-color:#fff;border:none;filter:alpha(opacity=0);-moz-opacity: 0;opacity: 0;height:100%;width:100%;}
	* html #TB_HideSelect { /* ie6 hack */
	     position: absolute;
	     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
	}
	#TB_iframeContent {clear:both;border:none;margin-bottom:-1px;margin-top:1px;_margin-bottom:1px;}

/* ----- JQuery UI ----- */
	/* Layout helpers */
	.ui-helper-hidden { display: none; }
	.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
	.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
	.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ui-helper-clearfix { display: inline-block; }
	/* required comment for clearfix to work in Opera \*/
	* html .ui-helper-clearfix { height:1%; }
	.ui-helper-clearfix { display:block; }
	/* end clearfix */
	.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
	
	/* Interaction Cues */
	.ui-state-disabled {cursor:default !important;}
	
	/* states and images */
	.ui-icon {display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}
	
	/* Overlays */
	.ui-widget-overlay {position:absolute;top:0;left:0;width:100%;height:100%;}
	
	/* Corner radius */
	.ui-corner-tl { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; }
	.ui-corner-tr { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; }
	.ui-corner-bl { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; }
	.ui-corner-br { -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; }
	.ui-corner-top { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; }
	.ui-corner-bottom { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; }
	.ui-corner-right {  -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; }
	.ui-corner-left { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; }
	.ui-corner-all { -moz-border-radius: 0; -webkit-border-radius: 0; }
	
	/* Overlays */
	.ui-widget-overlay {background:#000;opacity:.70;filter:Alpha(Opacity=70);}
	.ui-widget-shadow {margin:0;padding:0;opacity:.70;filter:Alpha(Opacity=70);-moz-border-radius:0;-webkit-border-radius:0;}
	
	/* Accordion */
	.ui-accordion .ui-accordion-header {cursor:pointer;position:relative;zoom:1;}
	.ui-accordion .ui-accordion-li-fix {display:inline;}
	.ui-accordion .ui-accordion-header-active {border-bottom:0 !important;}
	.ui-accordion .ui-accordion-header a {display:block;}
	.ui-accordion .ui-accordion-header .ui-icon {display:none;position:absolute;}
	.ui-accordion .ui-accordion-content {position:relative;display:none;}
	.ui-accordion .ui-accordion-content-active {display:block;}
	
	/* Dialog */
	.ui-dialog {position:relative;padding:0;background:url(/sbweb/common/images/jquery_ui/dialog_right.gif) no-repeat 100% 100%;}
	.ui-dialog .ui-dialog-titlebar {height:25px;position:relative;background:url(/sbweb/common/images/jquery_ui/dialog_right.gif) no-repeat 100% 0;}
	.ui-dialog .ui-dialog-title {float:left;display:block;width:25px;height:25px;background:url(/sbweb/common/images/jquery_ui/dialog_left.gif) no-repeat 0 0;} 
	.ui-dialog .ui-dialog-titlebar-close {position:absolute;right:0;top:0;width:25px;height:25px;}
	.ui-dialog .ui-dialog-titlebar-close span {display:block;margin:0;}
	.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {padding:0;}
	.ui-dialog .ui-dialog-content {border:0;padding:10px;background:url(/sbweb/common/images/jquery_ui/dialog_left.gif) no-repeat 0 100%;overflow:auto;zoom:1;}
	.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
	.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
	.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
	.ui-draggable .ui-dialog-titlebar { cursor: move; }
	
	/* Tabs */
	#tabsList {background:url(/sbweb/common/images/tabs/bg_tabs.gif) no-repeat;position:relative;color:#505050;height:36px;width:590px;font-weight:bold;font-size:10px;}
	#tabsList ul {list-style:none;}
	#tabsList li {list-style-type:none;margin:0px;padding:9px 20px 12px 20px;float:left;border-right:solid 1px #ccc;border-top:solid 1px #ccc;}
	#tabsList li.firstTab {border-width:0 1px 0 0;border-style:solid;border-color:#ccc;background-image:url(/sbweb/common/images/tabs/bg_tabs_left.gif);background-repeat:no-repeat;}	
	.ui-tabs-nav:after {display:block;clear:both;content:" ";list-style-type:none;}
	.ui-tabs-hide {display:none;}
	*>.ui-tabs-nav a span {width:auto;height:auto;}
	.ui-tabs-nav .ui-tabs-selected a:link,.ui-tabs-nav .ui-tabs-selected a:hover,.ui-tabs-nav .ui-tabs-selected a:visited {cursor:text;color:#365ebf;}
	.ui-state-default {background-position:0 45px;}	
	.ui-tabs-selected {background-position:0 0;background-color:#fff;z-index:3;position:relative;}
	.ui-tabs-nav a:link,.ui-tabs-nav a:visited,.ui-tabs-nav a:hover,.ui-tabs-nav a:focus,.ui-tabs-nav a:active,.ui-tabs-nav .ui-tabs-unselect a:hover,.ui-tabs-nav .ui-tabs-unselect a:focus,.ui-tabs-nav .ui-tabs-unselect a:active{text-decoration:none;cursor:pointer;color:#505050;}
	.ui-tabs-loading em {padding:0 0 0 20px;}
	* html .ui-tabs-nav {display:inline-block;}
	*:first-child+html .ui-tabs-nav {display:inline-block;}
	.ui-tabs-panel {border-left:solid 1px #ccc;border-right:solid 1px #ccc;padding:15px;width:558px	}
	#tabsBottom {background:url(/sbweb/common/images/borders/product_tab_frame_bot.gif) no-repeat;height:6px;width:590px;padding-bottom:20px;}

/* ----- Development Info -----*/
	#devinfoContainer {display:none;position:absolute;z-index:1;}
	.devmode {width: 300px;border: 1px solid #000;padding: 2px 5px;background-color:#CFE4FF;}
	.formElement {color: #000000;font-size:10px;}
	.analyticsSectionContainer {margin:10px 0px 0px 10px;}
	.analyticsVariableContainer {margin:5px 0px 0px 10px;display:none;}