body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    font-family: Verdana, Arial, sans-serif;color:#505050;
    font-size: 10pt;
}

h3 {
    font-size:12pt;
    color:#365EBF;
    font-weight:bold;
}