#sbuMainTop{
	background:url(/sbweb_sb/common/images/sbu/backgrounds/bg_top.gif) no-repeat;
	width:950px;
	height:35px;
	position:relative;
}

#sbuMainMiddle{
	background:url(/sbweb_sb/common/images/sbu/backgrounds/bg_center_left.gif) repeat-y;
	width:635px;
}

#sbuMainBottom{
	background:url(/sbweb_sb/common/images/sbu/backgrounds/bg_bottom.gif) no-repeat;
	width:950px;
	height:35px;
}

#sbuIntro{
	float:left;
	width:412px;
}

#sbuIntroImage{
	float:left;
	height:120px;
	width:168px;
	z-index:0
}

#sbuIntroNoImage{
	float:left;
	width:580px;
}

#sbuMainContent{
	width:585px;
	margin-left:40px;
	margin-right:10px;
}

.pageTitleA{	
	font-size: 24px;
	margin-bottom: 5px;
	line-height: 26px;
}

#sbuRightColTop{
	width:315px;
}

#sbuRightColMiddle{
	background:url(/sbweb_sb/common/images/sbu/backgrounds/bg_center_right.gif) repeat-y;
	width:315px;
}

#sbuRightColBottom{
	width:315px;
	height:35px;
}

#sbuRightColContent{
	width:310px;
	padding :0px 10px 0 25px;
}

.sbuRightColItem{
	clear:both;
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:solid 1px #ccc;
	width:270px;
}

.sbuRightColItemBottom{
	clear:both;
	margin-bottom:20px;
	padding-bottom:20px;
	width:270px;
}

.sbuRightColHeader{
	margin-bottom:10px;
	line-height:16px;
}

.sbuRightColItemContent{
	float:left;
	width:150px;
}

.sbuRightColIcon{
	float:right;
	width:100px;
	padding-left:10px;
}

.sbuRightColItemContentNoIcon{
	float:left;
	width:260px;
}

/* sbuFeature */
.sbuFeature{
	clear:both;
}

.sbuFeatureIcon{
	width:42px;
	float:left;
}

.sbuFeatureIconMedium{
	width:85px;
	float:left;
}

.sbuFeatureTitle{
	margin-bottom:5px;
}

.sbuFeatureDesc{
	width:470px;
	margin-left:10px;
	float:left;
}

.sbuFeatureParagraph{
	margin:5px 0px;
}
.sbuSpaceBottom20{
	padding-bottom : 20px;
}
.sbuSpaceBottom15{
	padding-bottom : 15px;
}
.sbuSpaceBottom5{
	padding-bottom : 5px;
}
.sbuSpaceBottom10{
	padding-bottom : 10px;
}
.sbuSpaceBottom30{
	padding-bottom : 30px;
}

#sbuEmailAddress{
	width: 155px;
	height: 15px;
	font-size: 10px;	
	color : #a2a2a2;
	border: 1px solid #ccc;
	background-color: #f4f7fc;	
}

.sbuEmailImage{	
	position :absolute;
	top:84px;
	left:165px;		
}

.sbuNewLetterRightColItem{
	width: 220px;
	padding-right: 10px;
}	

.sbu_resources_footer_section_border{
	width:580;
	border-bottom:solid 1px #ccc;
}

#sbu_resources_footer_section{
	width:255px;
	float:left;
	margin-top:20px;
	margin-right:35px;
}

.sbu_resources_footer_section_seperator{
	width:25px;
	float:left;
}

.sbuFooterHeader{
	margin-top:10px;
	line-height:16px;
}

#sbuYETop {
	position:relative;
	padding:23px 0 0;
	width:580px;
	height:155px;
	background:url(/sbweb_sb/common/images/sbu/backgrounds/YE_page_header.jpg) no-repeat;
}

#sbuYETop p {
	padding:0 20px;
	width:315px;
	color:#fff;
	font-weight:bold;
	font-size:20px;
	line-height:25px;
}

#paraText{
	padding:0 20px;
	width:300px;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	line-height:17px;
}

#sbuBuyNowButton{
	margin-bottom: 5px;
}

.body11{
	font-size:11px;
	}
	
.marginTop10x10{
	margin:10px 0px 10px 0px;
}

.sbuSectionItemSeparator {height:1px;width:585px;border-bottom:solid 1px #ccc;margin:25px 0px 0px -10px;}